.datetime-md, .datetime-ios, .datetime-wp {
    font-size: 0.85em;
    font-weight: bold;
    padding-left: 0;
}

.rowlist {
    align-items: center;
}

.skor-nyeri {
    width: 50px;
    font-size: 1.3em;
    font-weight: bold;
}

.tgk-nyeri {
    font-size: 1.15em;
    line-height: 50px;
}

.title-assessment {
    align-items: center;
}