<ion-toolbar>
    <ion-title class="title-ion">Assesmen</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-content class="content-modal" padding>
    <h2>Data Pasien</h2>
    <ion-grid  *ngFor="let personal of datapersonal" >
              <ion-row class="rowlist">
              <ion-col>
                  Nama Pasien
              </ion-col>
              <ion-col>
                  <strong>{{ personal.nama_pasien }}</strong>
              </ion-col>
              <ion-col>
                  Jaminan
              </ion-col>
              <ion-col>
                  <strong>{{ personal.jaminan }}</strong>
              </ion-col>
              </ion-row>
              <ion-row class="rowlist">
              <ion-col>
                  Nama Dokter
              </ion-col>
              <ion-col>
                  <strong>{{ doctorname }}</strong>
              </ion-col>
              <ion-col>
                  Tanggal Lahir
              </ion-col>
              <ion-col>
                  <strong>{{ mapToMoment(personal.tgl_lahir) }}</strong>
              </ion-col>
              </ion-row>
              <ion-row class="rowlist">
              <ion-col>
                  Nomer RM
              </ion-col>
              <ion-col>
                  <strong>{{ personal.no_medrec }}</strong>
              </ion-col>
              <ion-col>
                  Umur
              </ion-col>
              <ion-col>
                  <strong>{{ personal.umur }} tahun</strong>
              </ion-col>
              </ion-row>
              <ion-row class="rowlist">
              <ion-col>
                  Kelas
              </ion-col>
              <ion-col>
                  <strong>RJ</strong>
              </ion-col>
              <ion-col>
                  Jenis Kelamin
              </ion-col>
              <ion-col>
                  <strong>{{ personal.kelamin }}</strong>
              </ion-col>
              </ion-row>
    </ion-grid>
    <hr class="separator">
    <div *ngFor="let kaji of dataReview; let i = index">
    <ion-card-header>
      <strong>KELUHAN *</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" value="{{ kaji.keluhan }}" placeholder="Keluhan"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>PEMERIKSAAN FISIK *</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>TD(mmHg) :</ion-label>
            <ion-input type="number" value="{{ kaji.td1 }}" placeholder="Sistole"></ion-input>
            <ion-input type="text" value="/" readonly></ion-input>
            <ion-input type="number" value="{{ kaji.td2 }}" placeholder="Diastole"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label fixed>Nadi :</ion-label>
            <ion-input type="number" value="{{ kaji.nadi1 }}" placeholder="x"></ion-input>
            <ion-input type="text" value="/menit" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>Pernafasan :</ion-label>
            <ion-input type="number" value="{{ kaji.pernafasan1 }}" placeholder="x"></ion-input>
            <ion-input type="text" value="/menit" readonly></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label fixed>Suhu(
              <sup>o</sup>C) :</ion-label>
            <ion-input type="number" value="{{ kaji.suhu }}" placeholder="00"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>TB(cm) :</ion-label>
            <ion-input type="number" value="{{ kaji.tb }}" placeholder="00"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label fixed>BB(kg) :</ion-label>
            <ion-input type="number" value="{{ kaji.bb }}" placeholder="00"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>SKRINING NYERI</strong>
      <span class="showhide">
        <ion-icon color="darkblue" name="{{ s_nyeri == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('s_nyeri')"></ion-icon>
      </span>
    </ion-card-header>
    <div *ngIf="s_nyeri">
      <ion-grid>
        <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
            <ion-row radio-group [(ngModel)]="nyeri">
              <ion-col col-4>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ada nyeri (1-10)</ion-label>
                  <ion-radio item-left value="ada"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak ada nyeri (0)</ion-label>
                  <ion-radio item-left value="0"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3>
            <ion-row>
              <ion-col>
                  <span class="tgk-nyeri">Tingkat Nyeri : </span>
              </ion-col>
              <ion-col>
                  <ion-input *ngIf="nyeri !== '0'" value="{{ nyeri_score }}" type="text"
                  placeholder="Skor(1-10)" class="skor-nyeri"></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr class="separator">
    <ion-card-header>
      <strong>SKRINING RESIKO JATUH</strong>
      <span class="showhide">
        <ion-icon color="darkblue" name="{{ s_resiko_jatuh == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}"
          (click)="showForm('s_resiko_jatuh')"></ion-icon>
      </span>
    </ion-card-header>
    <div *ngIf="s_resiko_jatuh">
      <ion-grid>
        <ion-row>
          <ion-col col-1>
            <strong>NO</strong>
          </ion-col>
          <ion-col>
            <strong>PARAMETER</strong>
          </ion-col>
          <ion-col col-3>
            <strong>JAWABAN</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            a
          </ion-col>
          <ion-col>
            Apakah pasien tampak tidak seimbang / limbung / sempoyongan saat berjalan ?
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resiko_jatuh_a">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            b
          </ion-col>
          <ion-col>
            Apakah pasien memegang pinggiran kursi atau meja / benda lain sebagai penopang saat akan duduk ?
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resiko_jatuh_b">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr class="separator">
    <ion-card-header>
      <strong>SKRINING GIZI</strong>
      <span class="showhide">
        <ion-icon color="darkblue" name="{{ s_gizi == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" 
        (click)="showForm('s_gizi')"></ion-icon>
      </span>
    </ion-card-header>
    <div *ngIf="s_gizi">
      <ion-grid>
        <ion-row>
          <ion-col col-1>
            <strong>NO</strong>
          </ion-col>
          <ion-col>
            <strong>PARAMETER</strong>
          </ion-col>
          <ion-col col-3>
            <strong>JAWABAN</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            1
          </ion-col>
          <ion-col>
            Apakah pasien mengalami penurunan BB yang tidak diinginkan dalam 6 bulan terakhir ?
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="gizi1">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            2
          </ion-col>
          <ion-col>
            Apakah asupan makanan berkurang karena tidak nafsu makan ?
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="gizi2">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            3
          </ion-col>
          <ion-col>
            Pasien dengan diagnose khusus:
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="gizi3">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>

          </ion-col>
          <ion-col>
            (DM/Kemoterapi/Hemodialisa/Geriatri/Imunitas Menurun/Lain-lain) Sebutkan :
          </ion-col>
          <ion-col col-4>
            <ion-input value="{{ kaji.gizi3_lainnya }}" type="text" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr class="separator">
    <ion-card-header>
      <strong>RESIKO JATUH TIME UP &amp; GO </strong>
      <span class="showhide">
        <ion-icon color="darkblue" name="{{ resiko_jatuh == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}"
          (click)="showForm('resiko_jatuh')"></ion-icon>
      </span>
    </ion-card-header>
    <div *ngIf="resiko_jatuh">
      <ion-grid>
        <ion-row class="rowheader">
          <ion-col col-1>
            <strong>NO</strong>
          </ion-col>
          <ion-col>
            <strong>PENILAIAN / PENGKAJIAN</strong>
          </ion-col>
          <ion-col col-4>
            <strong>ACTION</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            A
          </ion-col>
          <ion-col>
            Cara berjalan pasien ( salah satu atau lebih )
            <br> 1. Tidak seimbang / sempoyongan / limbung
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resikoA1">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
            2. Jalan dengan menggunakan alat bantu ( kruk, tripot, kursi, orang lain )
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resikoA2">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            B
          </ion-col>
          <ion-col>
            Menopang saat akan duduk: Tampak memegang pinggiran kursi atau meja / benda lain sebagai penopang saat akan duduk
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resikoB1">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-grid>
        <ion-row class="rowheader">
          <ion-col col-1>
            <strong>NO</strong>
          </ion-col>
          <ion-col>
            <strong>HASIL</strong>
          </ion-col>
          <ion-col col-5>
            <strong>PENILAIAN / PENGKAJIAN</strong>
          </ion-col>
          <ion-col>
            <strong>KETERANGAN</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            1
          </ion-col>
          <ion-col>
            Tidak berisiko
          </ion-col>
          <ion-col col-5>
            Tidak ditemukan A &amp; B
          </ion-col>
          <ion-col>
            <ion-input type="text" value="{{ kaji.resikoHasil1 }}" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            2
          </ion-col>
          <ion-col>
            Resiko Rendah
          </ion-col>
          <ion-col col-5>
            Ditemukan salah satu dari A &amp; B
          </ion-col>
          <ion-col>
            <ion-input type="text" value="{{ kaji.resikoHasil2 }}" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            3
          </ion-col>
          <ion-col>
            Resiko Tinggi
          </ion-col>
          <ion-col col-5>
            Ditemukan A &amp; B
          </ion-col>
          <ion-col>
            <ion-input type="text" value="{{ kaji.resikoHasil3 }}" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-grid>
        <ion-row class="rowheader">
          <ion-col col-1>
            <strong>NO</strong>
          </ion-col>
          <ion-col>
            <strong>HASIL KERJA</strong>
          </ion-col>
          <ion-col>
            <strong>TINDAKAN</strong>
          </ion-col>
          <ion-col>
            <strong>ACTION</strong>
          </ion-col>
          <ion-col>
            <strong>KETERANGAN</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            1
          </ion-col>
          <ion-col>
            Tidak berisiko
          </ion-col>
          <ion-col>
            Tidak ada tindakan
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resikoTindakan1action">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-input type="text" value="{{ kaji.resikoTindakan1 }}" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            2
          </ion-col>
          <ion-col>
            Resiko Rendah
          </ion-col>
          <ion-col>
            Edukasi
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resikoTindakan2action">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-input type="text" value="{{ kaji.resikoTindakan2 }}" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            3
          </ion-col>
          <ion-col>
            Resiko Tinggi
          </ion-col>
          <ion-col>
            Pasang pin warna kuning &amp; edukasi
          </ion-col>
          <ion-col col-4>
            <ion-row radio-group [(ngModel)]="resikoTindakan3action">
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio item-left value="ya"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio item-left value="tidak"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-input value="{{ kaji.resikoTindakan3 }}" type="text" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr class="separator">

    <ion-card-header>
      <strong>STATUS FUNGSIONAL</strong>
      <span class="showhide">
        <ion-icon color="darkblue" name="{{ s_fungsional == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}"
          (click)="showForm('s_fungsional')"></ion-icon>
      </span>
    </ion-card-header>
    <div *ngIf="s_fungsional">
      <ion-grid>
        <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
            <ion-row radio-group [(ngModel)]="status_fungsional">
              <ion-col col-4>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Mandiri</ion-label>
                  <ion-radio item-left value="mandiri"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Perlu bantuan</ion-label>
                  <ion-radio item-left value="perlu bantuan"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3>
            <ion-input value="{{ kaji.status_fungsional_ket }}" type="text" placeholder="Keterangan"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <hr class="separator">
    <br>
    <ion-row>
      <ion-col col-6>
        <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, kaji.tt_perawat, 'tt_perawat')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Tanda Tangan Perawat</button>
        <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
        <img *ngIf="tt_perawat[i]" class="drawimage" src="{{ kaji.image }}" style="width:500px;height:200px;">
      </ion-col>
    </ion-row>
    <br>
    </div>
    <hr class="separator">
    <br>
    <ion-card-header>
        <strong>ASSESMEN DOKTER</strong>
        <span class="showhide">
            <ion-icon color="darkblue" name="{{ as_dokter == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}"
            (click)="showForm('as_dokter')"></ion-icon>
        </span>
    </ion-card-header>
      <div *ngIf="as_dokter">
        <form [formGroup]="assessmentDoctorForm">
        <ion-grid *ngFor="let kaji of dataReview">
          <ion-row class="rowlist">
            <ion-col col-1>
              A
            </ion-col>
            <ion-col>
              <strong>Anamnesa :</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName="anamnesa_keluhan" value="{{ kaji.anamnesa_keluhan }}" type="text" placeholder="Keluhan Utama"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName="anamnesa_riwayat_penyakit" value="{{ kaji.anamnesa_riwayat_penyakit }}" type="text" placeholder="Riwayat Penyakit Sekarang"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="rowlist">
            <ion-col col-1>
              B
            </ion-col>
            <ion-col>
              <strong>Pemeriksaan Fisik</strong>
            </ion-col>
          </ion-row>
          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-row class="rowlist">
                <ion-col col-2>
                  Kepala
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_kepala" [(ngModel)]="fisik_kepala">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
                <ion-col col-2>
                  Mata
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_mata" [(ngModel)]="fisik_mata">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-row class="rowlist"> 
                <ion-col col-2>
                  Leher
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_leher" [(ngModel)]="fisik_leher">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
                <ion-col col-2>
                  THT
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_tht" [(ngModel)]="fisik_tht">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-row class="rowlist">
                <ion-col col-2>
                  Mulut
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_mulut" [(ngModel)]="fisik_mulut">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
                <ion-col col-2>
                  Jantung
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_jantung" [(ngModel)]="fisik_jantung">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-row class="rowlist">
                <ion-col col-2>
                  Paru
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_paru" [(ngModel)]="fisik_paru">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>

                <ion-col col-2>
                  Abdomen
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_abdomen" [(ngModel)]="fisik_abdomen">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-row class="rowlist">
                <ion-col col-2>
                  Genitalia
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_genitalia" [(ngModel)]="fisik_genitalia">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
                <ion-col col-2>
                  Ekstremitas
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="fisik_ekstremitas" [(ngModel)]="fisik_ekstremitas">
                    <ion-option [selected]="true" value="normal">Normal</ion-option>
                    <ion-option value="abnormal">Abnormal</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col col-4>
              Khusus Pediatric :
            </ion-col>
            <ion-col col-2>
              Status Gizi :
            </ion-col>
            <ion-col col-4>
              <ion-select interface="popover" formControlName="status_gizi" [(ngModel)]="status_gizi">
                <ion-option value="gizi kurang">Gizi Kurang / Buruk</ion-option>
                <ion-option value="gizi cukup">Gizi Cukup</ion-option>
                <ion-option value="gizi lebih">Gizi Lebih</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col col-2>
              Pemeriksaan Gigi :
            </ion-col>
            <ion-col col-4>
              <ion-select interface="popover" formControlName="pemeriksaan_gigi" [(ngModel)]="pemeriksaan_gigi">
                <ion-option value="karies">Karies</ion-option>
                <ion-option value="infeksi">Infeksi</ion-option>
                <ion-option value="berlubang">Berlubang</ion-option>
                <ion-option value="karang gigi">Karang Gigi</ion-option>
                <ion-option value="lain-lain">Lain-lain</ion-option>
              </ion-select>
            </ion-col>
            <ion-col col-2>
              <ion-input *ngIf="pemeriksaan_gigi === 'lain-lain'" formControlName="pemeriksaan_gigi_ket" value="{{ kaji.pemeriksaan_gigi_ket }}"
                type="text" placeholder="Keterangan"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
              C
            </ion-col>
            <ion-col>
              <strong>Status Lokalis :</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName="status_lokalis" value="{{ kaji.status_lokalis }}" type="text" placeholder="Keterangan"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-1>
              D
            </ion-col>
            <ion-col>
              <strong>Pemeriksaan Penunjang :</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName="pemeriksaan_penunjang" value="{{ kaji.pemeriksaan_penunjang }}" type="text" placeholder="Keterangan"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-1>
              E
            </ion-col>
            <ion-col>
              <strong>Diagnosis :</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName="diagnosis" value="{{ kaji.diagnosis }}" type="text" placeholder="Keterangan"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-1>
              F
            </ion-col>
            <ion-col>
              <strong>Rencana (Edukasi, diagnostic, terapi, rujukan) :</strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName="rencana" value="{{ kaji.rencana }}" type="text" placeholder="Keterangan"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="rowlist">
            <ion-col col-1>
            </ion-col>
            <ion-col col-1>
              <strong>Dirujuk :</strong>
            </ion-col>
            <ion-col col-4>
           
              <ion-select interface="popover" formControlName="dirujuk" [(ngModel)]="dirujuk">
                <ion-option value="karies">Ahli Gizi Klinik</ion-option>
                <ion-option value="rehabilitasi medik">Rehabilitasi Medik</ion-option>
                <ion-option value="spesialis lain">Spesialis Lain</ion-option>
                <ion-option value="tim nyeri">Tim Nyeri</ion-option>
                <ion-option value="lain-lain">Lain-lain</ion-option>
              </ion-select>
            </ion-col>
            <ion-col col-2>
              <ion-input *ngIf="dirujuk === 'lain-lain'" formControlName="dirujuk_lainnya" value="{{ kaji.dirujuk_lainnya }}" type="text"
                placeholder="Keterangan"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <stylus-sirus (stylusChanged)="stylusChange($event)"></stylus-sirus>
        <button ion-button color="primary" (click)="submitAssessment(assessmentDoctorForm.value)" block><strong>SUBMIT ASSESMEN DOKTER</strong></button>
        </form>
      </div>
  </ion-content>