.datetime-md, .datetime-ios, .datetime-wp {
    font-size: 0.85em;
    font-weight: bold;
    padding-left: 0;
}

.rowlist {
    align-items: center;
}

.content-modal{
    .scroll-content::-webkit-scrollbar{
        width:10px;
        background-color:#c0c0c0;
    }
}

.search-wrapper {
    margin: 10px;
    height: auto;
    .list-icd {
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            background: $blue;
            color: white;
            font-size: 0.9em;
            padding: 5px;
            margin: 5px;
            float: left;
        }
    }
}