<ion-toolbar>
  <ion-title class="title-ion">Fisioterapi Pasien</ion-title>
  <ion-buttons end>
    <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="content-modal" padding>
  <h2>Data Pasien</h2>
  <ion-grid  *ngFor="let personal of datapersonal" >
    <ion-row class="rowlist">
        <ion-col>
            Nama Pasien
        </ion-col>
        <ion-col>
            <strong>{{ personal.nama_pasien }}</strong>
        </ion-col>
        <ion-col>
            Jaminan
        </ion-col>
        <ion-col>
            <strong>{{ personal.jaminan }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nama Dokter
        </ion-col>
        <ion-col>
            <strong>{{ doctorname }}</strong>
        </ion-col>
        <ion-col>
            Tanggal Lahir
        </ion-col>
        <ion-col>
            <strong>{{ mapToMoment(personal.tgl_lahir) }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nomer RM
        </ion-col>
        <ion-col>
            <strong>{{ personal.no_medrec }}</strong>
        </ion-col>
        <ion-col>
            Umur
        </ion-col>
        <ion-col>
            <strong>{{ personal.umur }} tahun</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Kelas
        </ion-col>
        <ion-col>
            <strong>RJ</strong>
        </ion-col>
        <ion-col>
            Jenis Kelamin
        </ion-col>
        <ion-col>
            <strong>{{ personal.kelamin }}</strong>
        </ion-col>
        </ion-row>
  </ion-grid>
  <br>
  <ion-grid>
      <ion-row>
          <ion-col>
              Diagnosa :
              <div *ngIf="diagnosa" class="search-wrapper">
              <ul class="list-icd">
                <li *ngFor="let icd10 of listicd;let i = index">
                {{ icd10.penyakit }} ( {{ icd10.icd }} )
                </li>
              </ul>
              </div>
              <div *ngIf="!diagnosa">
                  Anda belum mengisi Coding ICDX
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
  <br>
   Mohon diberikan tindakan FISIOTERAPI :
  <ion-grid>
      <ion-row>
          <ion-col>
              1. DIATHERMY, MWD / SWD
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              2. ULTASOUND TERAPI
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              3. INFRA RED
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              4. FARADISASI / GALVINISASI
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              5. T.E.N.S
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              6. INHALASI / NEBULIZER
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              7. SUCTION
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              8. EXERCISE :
          </ion-col>
          <ion-col col-2>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              PASIVE / ACTIVE
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              NECK EXERCISE
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              BACK EXERCISE
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              WALKING EXERCISE: FWB / PWB / NWB
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              CORRECT POSTURE
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              PRE / POST OPERATIVE EXERCISE
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              CHEST FISIO
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              9. MANUAL / MANIPULASI TERAPI
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              10. ORTORIK / PROSTETIK
          </ion-col>
          <ion-col col-2>
              
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              CERVICAL KOLLAR 
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              LUMBAL KORSET
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              AXILA CRUTS / TONGKAT KETIAK
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col>
              DAN LAIN-LAIN
          </ion-col>
          <ion-col col-2>
              <ion-item>
                <ion-checkbox color="primary"></ion-checkbox>
              </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>
   Terimakasih atas kerja samanya.
  <button ion-button color="primary" (click)="submitFisio()" block><strong>SUBMIT PERMINTAAN</strong></button>
</ion-content>