<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/img/logomary.png" width="200px" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Ketikkan Email Anda" name="email" formControlName="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Ketikkan Password Anda" name="password" formControlName="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">LOGIN</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>

  <button ion-button color="darkblue" (click)="goToForgetPage()" block clear>Lupa Kata Sandi? Klik Disini</button>
</ion-content>
<ion-footer>
  <div class="version-tag">Version 0.2.0.3</div>
</ion-footer>