$darkgrey: #ccc;

.checkbox-md, .checkbox-ios, .checkbox-wp {
    margin-left: 15px;
}

sirus-stylus {
    div {
        border-top: 1px solid $darkgrey !important;
        border-left: 1px solid $darkgrey !important;
        border-right: 1px solid $darkgrey !important;
        border-bottom: 1px solid $darkgrey !important;
        border-radius: 0px !important;
    }
}

#stylusOP {
    div {
        border-top: 1px solid $darkgrey !important;
        border-left: 1px solid $darkgrey !important;
        border-right: 1px solid $darkgrey !important;
        border-bottom: 1px solid $darkgrey !important;
        border-radius: 0px !important;
        background: url('../assets/img/op.jpg') no-repeat;
        background-size: 570px 500px;
    }
}

#stylusOW {
    div {
        border-top: 1px solid $darkgrey !important;
        border-left: 1px solid $darkgrey !important;
        border-right: 1px solid $darkgrey !important;
        border-bottom: 1px solid $darkgrey !important;
        border-radius: 0px !important;
        background: url('../assets/img/ow.jpg') no-repeat;
        background-size: 570px 500px;
    }
}

.ttdbtn {
    border: 1px solid $darkgrey;
    width: 100px;
    height: 100px;
}

.ttdbtndis {
    display: none;
}


.signature {
    width: 440px;
}


.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color:gray;
}

.tindakan-operasi {
    border:1px solid #000;
    margin-top:5px;
    margin-bottom:5px;
}

.row-border {
    border-top: 5px solid #807f8a;
}

.popover-md .popover-content {
    width: 500px;
}