<ion-toolbar>
    <ion-title class="title-ion">Informed Consent</ion-title>
    <ion-buttons end>
        <button ion-button (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>

<ion-content padding>
    <br>
    <br>
    <br>
    <ion-segment [(ngModel)]="inform">
        <ion-segment-button value="pemberian">
            1. Pemberian Informasi
        </ion-segment-button>
        <ion-segment-button value="persetujuan" disabled="{{ submitInfo }}">
            2. Persetujuan &amp; Penolakan
        </ion-segment-button>
        <ion-segment-button value="penandaan" *ngIf="statusTag" disabled="{{ submitPersetujuan }}">
            3. Penandaan Operasi
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="inform">
        <ion-list *ngSwitchCase="'pemberian'">
                <div padding>
                    <ion-segment [(ngModel)]="information_inform">
                        <ion-segment-button value="isi_informasi" disabled=" {{ form_isi_informasi }} ">
                            Isi Informasi
                        </ion-segment-button>
                        <ion-segment-button value="checklist_informasi" disabled=" {{ form_checklist_informasi }} ">
                            Checklist Informasi
                        </ion-segment-button>
                        <ion-segment-button value="anestesi" disabled=" {{ form_anestesi }} ">
                            Anasthesi
                        </ion-segment-button>
                    </ion-segment>
                </div>
            <div [ngSwitch]="information_inform">
                <ion-list *ngSwitchCase="'isi_informasi'">
                    <form [formGroup]="formInformConsentInfo">
                    <div *ngFor="let inform of dataInform">
                        <br>
                        <h6>TINDAKAN / PROSEDUR : </h6>
                        <ion-item>
                            <ion-label color="primary" stacked>Pelaksana Tindakan*</ion-label>
                            <ion-input placeholder="Isi Pelaksana Tindakan" formControlName="pelaksana_tindakan" value="{{ doctorName }}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Pemberi Informasi*</ion-label>
                            <ion-input placeholder="Isi Pemberi Informasi" formControlName="pemberi_info" value="{{ doctorName }}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Penerima Informasi/ Pemberi Persetujuan*</ion-label>
                            <ion-input placeholder="Isi Penerima Informasi/ Pemberi Persetujuan" formControlName="penerima_info" value="{{ patientName }}"></ion-input>
                        </ion-item>
                        <ion-grid>
                            <ion-row class="rowlist">
                                <ion-col>
                                    <strong>JENIS INFORMASI</strong>
                                </ion-col>
                                <ion-col col-2>
                                    <strong>TANDA</strong>
                                    <ion-checkbox color="primary" (click)="checkAllTanda()" [checked]="selectedAll"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Diagnosis Kerja dan Diagnosis Banding
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="info_diag_kerja" value="{{ inform.info_diag_kerja }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="checklist_info_diag_kerja" [checked]="selectedAll" [(ngModel)]="checklist_info_diag_kerja"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Dasar Diagnosis
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="dasar_diag" value="{{ inform.dasar_diag }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="checklist_dasar_diag" [checked]="selectedAll" [(ngModel)]="checklist_dasar_diag"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Tindakan Kedokteran
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="tindakan_dokter" value="{{ inform.tindakan_dokter }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="checklist_tindakan_dokter" [checked]="selectedAll" [(ngModel)]="checklist_tindakan_dokter"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Indikasi Tindakan
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="indikasi_tindakan" value="{{ inform.indikasi_tindakan }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" [checked]="selectedAll" formControlName="checklist_indikasi_tindakan" [(ngModel)]="checklist_indikasi_tindakan"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Tatacara
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="tatacara" value="{{ inform.tatacara }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" [checked]="selectedAll" formControlName="checklist_tatacara" [(ngModel)]="checklist_tatacara"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Tujuan
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" value="{{ inform.tujuan }}" formControlName="tujuan"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" [checked]="selectedAll" formControlName="checklist_tujuan" [(ngModel)]="checklist_tujuan"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Risiko
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="risiko" value="{{ inform.risiko }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" [checked]="selectedAll" formControlName="checklist_risiko" [(ngModel)]="checklist_risiko"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Komplikasi
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="komplikasi" value="{{ inform.komplikasi }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" [checked]="selectedAll" formControlName="checklist_komplikasi" [(ngModel)]="checklist_komplikasi"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Prognosis
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="prognosis" value="{{ inform.prognosis }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" [checked]="selectedAll" formControlName="checklist_prognosis" [(ngModel)]="checklist_prognosis"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Alternatif
                                    <ion-item>
                                        <ion-textarea placeholder="Isi Informasi" formControlName="alternatif" value="{{ inform.alternatif }}"></ion-textarea>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" [checked]="selectedAll" formControlName="checklist_alternatif" [(ngModel)]="checklist_alternatif"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col>
                                    Lain-lain
                                    <br> • Bahwa semua pengobatan/tindakan kedokteran memiliki risiko atau komplikasi baik yang
                                    telah dijelaskan maupun yang belum dijelaskan termasuk namun tidak terbatas pada: reaksi
                                    alergi, efek samping obat, perdarahan, kelainan pembekuan darah, sumbatan darah/cairan
                                    pada pembuluh organ vital (jantung/paru), henti jantung, infeksi, perubahan tekanan darah,
                                    kerusakan otak/saraf, kelumpuhan, cacat, hilangnya sebagian/seluruh fungsi tubuh, kematian
                                    pasien
                                    <br> • Bahwa demi menyelamatkan jiwa pasien, dapat dilakukan pengobatan/tindakan kedokteran
                                    tambahan, termasuk namun tidak terbatas pada: transfusi darah, perluasan operasi, penambahan
                                    jenis obat maupun teknik anestesi, konsultasi/bantuan dokter lain, perawatan dan tindakan
                                    di ruang intensif (ICU/NICU)
                                    <br> • Bahwa merupakan tanggung jawab pasien/keluarga untuk memberikan informasi secara jujur
                                    mengenai riwayat penyakit yang dideritanya termasuk obat-obatan yang dikonsumsi termasuk
                                    namun tidak terbatas pada: pengencer darah, narkotika, minuman keras
                                    <br> • Bahwa tidak ada jaminan atau janji janji yang diberikan sehubungan dengan hasil dari
                                    segala pengobatan/tindakan kedokteran/perawatan
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="checklist_lain" 
                                    [checked]="selectedAll" [(ngModel)]="checklist_lain"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row-border">
                                <ion-col>
                                    Dengan ini menyatakan bahwa saya <strong>{{ doctorName }}</strong> telah menerangkan hal-hal diatas secara benar dan jelas dan memberikan kesempatan untuk bertanya dan/atau berdiskusi
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                        Tanda Tangan
                                        <div class="{{ ttdInfoDokter ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdInfoDokter')">
                                        </div>
                                        <div *ngIf="ttdInfoDokter" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoDokter($event)"></stylus-sirus>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        Saksi
                                        <div class="{{ ttdInfoSaksi1 ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdInfoSaksi1')">
                                        </div>
                                        <div *ngIf="ttdInfoSaksi1" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoSaksi1($event)"></stylus-sirus>
                                        </div>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row-border">
                                <ion-col>
                                    Dengan ini menyatakan bahwa saya/keluarga pasien <strong>{{ patientName }}</strong> telah menerima informasi sebagaimana di atas yang saya beri paraf di kolom kanannya serta telah diberi kesempatan untuk bertanya/berdiskusi, dan telah memahaminya
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                        Tanda Tangan
                                        <div class="{{ ttdInfoPasien ? 'ttdbtndis' : 'ttdbtn' }}" 
                                        (click)="openTTD('ttdInfoPasien')">
                                        </div>
                                        <div *ngIf="ttdInfoPasien" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoPasien($event)"></stylus-sirus>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        Saksi
                                        <div class="{{ ttdInfoSaksi2 ? 'ttdbtndis' : 'ttdbtn' }}" 
                                        (click)="openTTD('ttdInfoSaksi2')">
                                        </div>
                                        <div *ngIf="ttdInfoSaksi2" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoSaksi2($event)"></stylus-sirus>
                                        </div>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row-border">
                                <ion-col>
                                   *Bila pasien tidak kompeten atau tidak mau menerima informasi, maka penerima informasi adalah wali atau keluarga terdekat
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <button ion-button color="primary" (click)="submitInformasi(formInformConsentInfo.value)" block>
                            <strong>SUBMIT</strong>
                        </button>
                    </div>
                    </form>
                </ion-list>

                <ion-list *ngSwitchCase="'checklist_informasi'">
                        <form [formGroup]="formInformConsentInfoChecklist">
                        <div>
                            <br>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    <h6>DOKUMENTASI PEMBERIAN INFORMASI :</h6>
                                </ion-col>
                                <ion-col col-6>
                                  <ion-select interface="popover" [(ngModel)]="selection_inform" 
                                  (ngModelChange)="getInfromType($event)" [ngModelOptions]="{standalone: true}">
                                    <ion-option value="DILATASI DAN KURETASE">DILATASI DAN KURETASE</ion-option>
                                    <ion-option value="LAPARATOMI MIOMEKTOMI">LAPARATOMI MIOMEKTOMI</ion-option>
                                    <ion-option value="LAPARATOMI KISTA / KISTEKTOMI">LAPARATOMI KISTA / KISTEKTOMI</ion-option>
                                    <ion-option value="LAPARATOMI SALPINGEKTOMI">LAPARATOMI SALPINGEKTOMI</ion-option>
                                    <ion-option value="BIOPSI ENDOSERVIKS DAN ENDOMETRIUM">BIOPSI ENDOSERVIKS DAN ENDOMETRIUM</ion-option>
                                    <ion-option value="SEKSIO CESAREA / Re SC">SEKSIO CESAREA / Re SC</ion-option>
                                    <ion-option value="PERSALINAN PERVAGINAM">PERSALINAN PERVAGINAM</ion-option>
                                    <ion-option value="EKSTRAKSI VAKUM">EKSTRAKSI VAKUM</ion-option>
                                    <ion-option value="LAPARATOMI HISTEREKTOMI">LAPARATOMI HISTEREKTOMI</ion-option>
                                    <ion-option value="LAPARATOMI SALPINGO-OOVAREKTOMI">LAPARATOMI SALPINGO-OOVAREKTOMI</ion-option>
                                    <ion-option value="LAPARATOMI TUBEKTOMI/STERILISASI">LAPARATOMI TUBEKTOMI/STERILISASI</ion-option>
                                    <ion-option value="INDUKSI / AUGMENTASI / AKSELERASI PERSALINAN">INDUKSI / AUGMENTASI / AKSELERASI PERSALINAN</ion-option>
                                    <ion-option value="INDUKSI PERSALINAN">INDUKSI PERSALINAN</ion-option>
                                    <ion-option value="PERSALINAN SUNGSANG">PERSALINAN SUNGSANG</ion-option>
                                    <ion-option value="MARSUPIALISASI KISTA BARTHOLIN">MARSUPIALISASI KISTA BARTHOLIN</ion-option>
                                    <ion-option value="EKSTIRPASI KISTA BARTHOLIN">EKSTIRPASI KISTA BARTHOLIN</ion-option>
                                    <ion-option value="SALPINGO OOVAREKTOMI (SO)">SALPINGO OOVAREKTOMI (SO)</ion-option>
                                  </ion-select>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngFor="let anestesi of anestesi">
                                <ion-col>
                                    <ion-item>
                                        <ion-label color="primary" stacked>Pelaksana Tindakan*</ion-label>
                                        <ion-input placeholder="Isi Pelaksana Tindakan" formControlName="pelaksana_tindakan" value="{{ doctorName }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary" stacked>Pemberi Informasi*</ion-label>
                                        <ion-input placeholder="Isi Pemberi Informasi" formControlName="pemberi_info" value="{{ doctorName }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary" stacked>Penerima Informasi/ Pemberi Persetujuan*</ion-label>
                                        <ion-input placeholder="Isi Penerima Informasi/ Pemberi Persetujuan" formControlName="penerima_info" value="{{ patientName }}"></ion-input>
                                    </ion-item>
                                    <ion-grid>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                <strong>JENIS INFORMASI</strong>
                                            </ion-col>
                                            <ion-col>
                                                    <strong>ISI INFORMASI</strong>
                                                </ion-col>
                                            <ion-col col-2>
                                                <strong>TANDA</strong>
                                                <ion-checkbox color="primary" (click)="checkAllTandaChecklist()" 
                                                [checked]="selectedAllChecklist"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Diagnosis Kerja dan Diagnosis Banding
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.diagnosis_kerja }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" formControlName="checklist_info_diag_kerja" 
                                                [checked]="selectedAllChecklist" 
                                                [(ngModel)]="info_diag_kerja"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Dasar Diagnosis
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.dasar_diagnosis }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" formControlName="checklist_dasar_diag" [checked]="selectedAllChecklist" [(ngModel)]="dasar_diag"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Tindakan Kedokteran
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.tindakan_dokter }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" formControlName="checklist_tindakan_dokter" 
                                                [checked]="selectedAllChecklist" 
                                                [(ngModel)]="tindakan_dokter"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Indikasi Tindakan
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.indikasi_tindakan }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" [checked]="selectedAllChecklist" formControlName="checklist_indikasi_tindakan" 
                                                [(ngModel)]="indikasi_tindakan"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Tatacara
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.tatacara }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" [checked]="selectedAllChecklist" formControlName="checklist_tatacara" 
                                                [(ngModel)]="tatacara"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Tujuan
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.tujuan }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" [checked]="selectedAllChecklist" formControlName="checklist_tujuan" [(ngModel)]="tujuan"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Risiko
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.risiko }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" [checked]="selectedAllChecklist" formControlName="checklist_risiko" [(ngModel)]="risiko"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Komplikasi
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.komplikasi }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" [checked]="selectedAllChecklist" formControlName="checklist_komplikasi" 
                                                [(ngModel)]="komplikasi"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Prognosis
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.prognosis }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" [checked]="selectedAllChecklist" formControlName="checklist_prognosis" 
                                                [(ngModel)]="prognosis"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Alternatif
                                            </ion-col>
                                            <ion-col>
                                                {{ anestesi.alternatif }}
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" [checked]="selectedAllChecklist" formControlName="checklist_alternatif" 
                                                [(ngModel)]="alternatif"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="rowlist">
                                            <ion-col col-3>
                                                Lain-lain
                                            </ion-col>
                                            <ion-col>
                                                    • Bahwa semua pengobatan/tindakan kedokteran memiliki risiko atau komplikasi baik yang
                                                    telah dijelaskan maupun yang belum dijelaskan termasuk namun tidak terbatas pada: reaksi
                                                    alergi, efek samping obat, perdarahan, kelainan pembekuan darah, sumbatan darah/cairan
                                                    pada pembuluh organ vital (jantung/paru), henti jantung, infeksi, perubahan tekanan darah,
                                                    kerusakan otak/saraf, kelumpuhan, cacat, hilangnya sebagian/seluruh fungsi tubuh, kematian
                                                    pasien
                                                    <br> • Bahwa demi menyelamatkan jiwa pasien, dapat dilakukan pengobatan/tindakan kedokteran
                                                    tambahan, termasuk namun tidak terbatas pada: transfusi darah, perluasan operasi, penambahan
                                                    jenis obat maupun teknik anestesi, konsultasi/bantuan dokter lain, perawatan dan tindakan
                                                    di ruang intensif (ICU/NICU)
                                                    <br> • Bahwa merupakan tanggung jawab pasien/keluarga untuk memberikan informasi secara jujur
                                                    mengenai riwayat penyakit yang dideritanya termasuk obat-obatan yang dikonsumsi termasuk
                                                    namun tidak terbatas pada: pengencer darah, narkotika, minuman keras
                                                    <br> • Bahwa tidak ada jaminan atau janji janji yang diberikan sehubungan dengan hasil dari
                                                    segala pengobatan/tindakan kedokteran/perawatan
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-checkbox color="primary" formControlName="checklist_lain" 
                                                [checked]="selectedAllChecklist" [(ngModel)]="lain"></ion-checkbox>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="row-border">
                                                <ion-col>
                                                    Dengan ini menyatakan bahwa saya <strong>{{ doctorName }}</strong> telah menerangkan hal-hal diatas secara benar dan jelas dan memberikan kesempatan untuk bertanya dan/atau berdiskusi
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col>
                                                        Tanda Tangan
                                                        <div class="{{ ttdInfoDokter ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdInfoDokter')">
                                                        </div>
                                                        <div *ngIf="ttdInfoDokter" class="signature">
                                                            <stylus-sirus 
                                                            (stylusChanged)="stylusChangeInfoDokter($event)"></stylus-sirus>
                                                        </div>
                                                    </ion-col>
                                                    <ion-col>
                                                        Saksi
                                                        <div class="{{ ttdInfoSaksi1 ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdInfoSaksi1')">
                                                        </div>
                                                        <div *ngIf="ttdInfoSaksi1" class="signature">
                                                            <stylus-sirus 
                                                            (stylusChanged)="stylusChangeInfoSaksi1($event)"></stylus-sirus>
                                                        </div>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="row-border">
                                                <ion-col>
                                                    Dengan ini menyatakan bahwa saya/keluarga pasien <strong>{{ patientName }}</strong> telah menerima informasi sebagaimana di atas yang saya beri paraf di kolom kanannya serta telah diberi kesempatan untuk bertanya/berdiskusi, dan telah memahaminya
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col>
                                                        Tanda Tangan
                                                        <div class="{{ ttdInfoPasien ? 'ttdbtndis' : 'ttdbtn' }}" 
                                                        (click)="openTTD('ttdInfoPasien')">
                                                        </div>
                                                        <div *ngIf="ttdInfoPasien" class="signature">
                                                            <stylus-sirus 
                                                            (stylusChanged)="stylusChangeInfoPasien($event)"></stylus-sirus>
                                                        </div>
                                                    </ion-col>
                                                    <ion-col>
                                                        Saksi
                                                        <div class="{{ ttdInfoSaksi2 ? 'ttdbtndis' : 'ttdbtn' }}" 
                                                        (click)="openTTD('ttdInfoSaksi2')">
                                                        </div>
                                                        <div *ngIf="ttdInfoSaksi2" class="signature">
                                                            <stylus-sirus 
                                                            (stylusChanged)="stylusChangeInfoSaksi2($event)"></stylus-sirus>
                                                        </div>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="row-border">
                                                <ion-col>
                                                   *Bila pasien tidak kompeten atau tidak mau menerima informasi, maka penerima informasi adalah wali atau keluarga terdekat
                                                </ion-col>
                                            </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                            <button ion-button color="primary" 
                            (click)="submitInformasi(formInformConsentInfoChecklist.value)" block>
                                <strong>SUBMIT</strong>
                            </button>
                        </div>
                        </form>
            </ion-list>
            <ion-list *ngSwitchCase="'anestesi'">
                    <form [formGroup]="formInformConsentAnestesi">
                    <div *ngFor="let inform of dataInform">
                        <br>
                        <h6>DOKUMENTASI PEMBERIAN INFORMASI : TINDAKAN ANESTESI - SEDASI</h6>
                        <ion-item>
                            <ion-label color="primary" stacked>Pelaksana Tindakan*</ion-label>
                            <ion-input placeholder="Isi Pelaksana Tindakan" formControlName="pelaksana_tindakan" value="{{ doctorName }}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Pemberi Informasi*</ion-label>
                            <ion-input placeholder="Isi Pemberi Informasi" formControlName="pemberi_info" value="{{ doctorName }}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Penerima Informasi/ Pemberi Persetujuan*</ion-label>
                            <ion-input placeholder="Isi Penerima Informasi/ Pemberi Persetujuan" formControlName="penerima_info" value="{{ patientName }}"></ion-input>
                        </ion-item>
                        <ion-grid>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    <strong>JENIS INFORMASI</strong>
                                </ion-col>
                                <ion-col>
                                    <strong>ISI INFORMASI</strong>
                                </ion-col>
                                <ion-col col-2>
                                    <strong>TANDA</strong>
                                    <ion-checkbox color="primary" (click)="checkAllTandaAnestesi()" 
                                    [checked]="selectedAllAnestesi"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    Tindakan Kedokteran
                                </ion-col>
                                <ion-col>
                                    <h5>Anestesi Umum</h5>
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="a_u_tindakan_dokter" 
                                    [checked]="selectedAllAnestesi" [(ngModel)]="a_u_tindakan_dokter"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    Tatacara
                                </ion-col>
                                <ion-col>
                                    Memberikan obat obatan anestesi melalui pembuluh darah atau dihirup lewat jalan napas agar pasien tidak
                                    sadar, tidak nyeri, dan tidak dapat dirangsang selama pembedahan. Dapat disertai pemasangan pipa bantu
                                    napas.
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="a_u_tatacara" 
                                    [checked]="selectedAllAnestesi" 
                                    [(ngModel)]="a_u_tatacara"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    Tujuan
                                </ion-col>
                                <ion-col>
                                    Membuat pasien tidak sadar, tidak nyeri, tidak dapat dirangsang serta otot relaksasi selama operasi
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="a_u_tujuan" 
                                    [checked]="selectedAllAnestesi" 
                                    [(ngModel)]="a_u_tujuan"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    Risiko
                                </ion-col>
                                <ion-col>
                                    Sulit memasang alat bantu napas, cedera mulut/lidah/gigi/pita suara, sadar saat pembiusan, reaksi alergi obat, syok, stroke, serangan jantung, henti jantung, aspirasi muntah, suhu tinggi, obat masuk ke janin
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="a_u_risiko" 
                                    [checked]="selectedAllAnestesi" 
                                    [(ngModel)]="a_u_risiko"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    Komplikasi
                                </ion-col>
                                <ion-col>
                                    Mual, muntah, menggigil, mengantuk, pusing, sakit tenggorokan, sakit menelan, kejang pita suara, kejang jalan
                                    napas, kerusakan/kelumpuhan otak/saraf sementara/permanen, sulit buang air kecil, infeksi paru. Komplikasi
                                    meningkat pada anak < 1 tahun, usia lanjut, memiliki penyakit penyerta (jantung, paru, ginjal, hati, saraf,
                                    endokrin, sepsis)
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="a_u_komplikasi" 
                                    [checked]="selectedAllAnestesi" 
                                    [(ngModel)]="a_u_komplikasi"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tindakan Kedokteran
                                    </ion-col>
                                    <ion-col>
                                        <h5>Anestesi Regional (Spinal/Epidural)</h5>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_r_tindakan_dokter" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_r_tindakan_dokter"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tatacara
                                    </ion-col>
                                    <ion-col>
                                        Memasukkan obat obatan anestesi melalui jarum atau selang khusus kedalam ruang spinal atau epidural
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_r_tatacara" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_r_tatacara"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tujuan
                                    </ion-col>
                                    <ion-col>
                                        Menghilangkan nyeri selama operasi pada daerah perut sampai ujung kaki, pada kondisi pasien tetap sadar ataupun tidak sadar
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_r_tujuan" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_r_tujuan"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Risiko
                                    </ion-col>
                                    <ion-col>
                                        Sulit/gagal memasukkan jarum/selang pada ruang spinal/ epidural, pasien tetap nyeri, reaksi alergi, syok, muntah, aspirasi muntah, gangguan irama jantung, henti jantung
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_r_risiko" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_r_risiko"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Komplikasi
                                    </ion-col>
                                    <ion-col>
                                        Mual atau muntah, gatal, sakit kepala, kesemutan/kelumpuhan memanjang, kerusakan saraf, sulit buang air kecil
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_r_komplikasi" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_r_komplikasi"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Alternatif
                                    </ion-col>
                                    <ion-col>
                                        Anestesi Umum
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_r_alternatif" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_r_alternatif"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tindakan Kedokteran
                                    </ion-col>
                                    <ion-col>
                                        <h5>Anestesi Lokal/Blok Saraf Perifer</h5>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_l_tindakan_dokter" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_l_tindakan_dokter"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tatacara
                                    </ion-col>
                                    <ion-col>
                                        Melakukan pemberian obat anestesi lokal (dengan suntikan vena atau otot, tetesan, semprotan, atau olesan) pada syaraf di daerah sekitar lokasi operasi, dapat disertai pemasangan torniket.
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_l_tatacara" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_l_tatacara"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tujuan
                                    </ion-col>
                                    <ion-col>
                                        Menghilangkan nyeri pada daerah operasi saja (lengan atas/ bawah, tangan, tungkai, kaki, kemaluan, dll)
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_l_tujuan" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_l_tujuan"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Risiko
                                    </ion-col>
                                    <ion-col>
                                        Anestesi tidak tercapai/komplit, henti jantung, cedera pembuluh darah, perdarahan bawah kulit (hematoma), reaksi alergi, tertusuknya lapisan baru
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_l_risiko" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_l_risiko"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Komplikasi
                                    </ion-col>
                                    <ion-col>
                                        Rasa nyeri/baal/kesemutan/gangguan bergerak memanjang pasca operasi, kejang, infeksi daerah suntikan
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_l_komplikasi" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_l_komplikasi"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Alternatif
                                    </ion-col>
                                    <ion-col>
                                        Anestesi Umum atau Regional
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="a_l_alternatif" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="a_l_alternatif"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tindakan Kedokteran
                                    </ion-col>
                                    <ion-col>
                                        <h5>Sedasi (Ringan, Sedang, Dalam)</h5>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="sedasi_tindakan_dokter" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="sedasi_tindakan_dokter"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tatacara
                                    </ion-col>
                                    <ion-col>
                                        Memasukkan obat anestesi atau sedasi melalui otot, vena, atau rektum, hingga tercapai derajat sedasi yang diharapkan
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="sedasi_tatacara" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="sedasi_tatacara"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Tujuan
                                    </ion-col>
                                    <ion-col>
                                        Menenangkan/menidurkan pasien untuk memfasilitasi tindakan medis/ operasi
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="sedasi_tujuan" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="sedasi_tujuan"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Risiko
                                    </ion-col>
                                    <ion-col>
                                        Depresi napas, hematoma, reaksi alergi, mempengaruhi kerja jantung pada pasien sakit berat, aspirasi
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="sedasi_risiko" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="sedasi_risiko"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                    <ion-col col-3>
                                        Komplikasi
                                    </ion-col>
                                    <ion-col>
                                        Pusing, mual, muntah, menggigil, halusinasi, amnesia retrograd, infeksi lokasi penyuntikan, gangguan orientasi dan fungsi motorik, komplikasi akibat pemasangan pipa endotrakeal pada sedasi dalam.
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-checkbox color="primary" formControlName="sedasi_komplikasi" 
                                        [checked]="selectedAllAnestesi" 
                                        [(ngModel)]="sedasi_komplikasi"></ion-checkbox>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    Prognosis
                                </ion-col>
                                <ion-col>
                                    Bergantung kondisi pasien (usia, berat ringannya penyakit, besar kecilnya operasi, lamanya operasi)
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="sedasi_prognosis" 
                                    [checked]="selectedAllAnestesi" 
                                    [(ngModel)]="sedasi_prognosis"></ion-checkbox>
                                </ion-col>
                             </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-3>
                                    Lain-lain
                                </ion-col>
                                <ion-col>
                                    • Bahwa semua pengobatan/tindakan kedokteran memiliki risiko atau komplikasi baik yang
                                    telah dijelaskan maupun yang belum dijelaskan termasuk namun tidak terbatas pada: reaksi
                                    alergi, efek samping obat, perdarahan, kelainan pembekuan darah, sumbatan darah/cairan
                                    pada pembuluh organ vital (jantung/paru), henti jantung, infeksi, perubahan tekanan darah,
                                    kerusakan otak/saraf, kelumpuhan, cacat, hilangnya sebagian/seluruh fungsi tubuh, kematian
                                    pasien
                                    <br> • Bahwa demi menyelamatkan jiwa pasien, dapat dilakukan pengobatan/tindakan kedokteran
                                    tambahan, termasuk namun tidak terbatas pada: transfusi darah, perluasan operasi, penambahan
                                    jenis obat maupun teknik anestesi, konsultasi/bantuan dokter lain, perawatan dan tindakan
                                    di ruang intensif (ICU/NICU)
                                    <br> • Bahwa merupakan tanggung jawab pasien/keluarga untuk memberikan informasi secara jujur
                                    mengenai riwayat penyakit yang dideritanya termasuk obat-obatan yang dikonsumsi termasuk
                                    namun tidak terbatas pada: pengencer darah, narkotika, minuman keras
                                    <br> • Bahwa tidak ada jaminan atau janji janji yang diberikan sehubungan dengan hasil dari
                                    segala pengobatan/tindakan kedokteran/perawatan
                                </ion-col>
                                <ion-col col-2>
                                    <ion-checkbox color="primary" formControlName="sedasi_lain" 
                                    [checked]="selectedAllAnestesi" 
                                    [(ngModel)]="anestesi_lain"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row-border">
                                <ion-col>
                                    Dengan ini menyatakan bahwa saya <strong>{{ doctorName }}</strong> telah menerangkan hal-hal diatas secara benar dan jelas dan memberikan kesempatan untuk bertanya dan/atau berdiskusi
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                        Tanda Tangan
                                        <div class="{{ ttdInfoDokter ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdInfoDokter')">
                                        </div>
                                        <div *ngIf="ttdInfoDokter" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoDokter($event)"></stylus-sirus>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        Saksi
                                        <div class="{{ ttdInfoSaksi1 ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdInfoSaksi1')">
                                        </div>
                                        <div *ngIf="ttdInfoSaksi1" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoSaksi1($event)"></stylus-sirus>
                                        </div>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row-border">
                                <ion-col>
                                    Dengan ini menyatakan bahwa saya/keluarga pasien <strong>{{ patientName }}</strong> telah menerima informasi sebagaimana di atas yang saya beri paraf di kolom kanannya serta telah diberi kesempatan untuk bertanya/berdiskusi, dan telah memahaminya
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                        Tanda Tangan
                                        <div class="{{ ttdInfoPasien ? 'ttdbtndis' : 'ttdbtn' }}" 
                                        (click)="openTTD('ttdInfoPasien')">
                                        </div>
                                        <div *ngIf="ttdInfoPasien" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoPasien($event)"></stylus-sirus>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        Saksi
                                        <div class="{{ ttdInfoSaksi2 ? 'ttdbtndis' : 'ttdbtn' }}" 
                                        (click)="openTTD('ttdInfoSaksi2')">
                                        </div>
                                        <div *ngIf="ttdInfoSaksi2" class="signature">
                                            <stylus-sirus 
                                            (stylusChanged)="stylusChangeInfoSaksi2($event)"></stylus-sirus>
                                        </div>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row-border">
                                <ion-col>
                                   *Bila pasien tidak kompeten atau tidak mau menerima informasi, maka penerima informasi adalah wali atau keluarga terdekat
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <button ion-button color="primary" (click)="submitAnestesi(formInformConsentAnestesi.value)" block>
                            <strong>SUBMIT</strong>
                        </button>
                    </div>
                    </form>
                </ion-list>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'persetujuan'">
            <div padding>
                <ion-segment [(ngModel)]="selection">
                    <ion-segment-button value="PERSETUJUAN">
                        Persetujuan
                    </ion-segment-button>
                    <ion-segment-button value="PENOLAKAN">
                        Penolakan
                    </ion-segment-button>
                </ion-segment>
            </div>

            <div [ngSwitch]="selection">
                <ion-list *ngSwitchCase="'PERSETUJUAN'">
                    <br>
                    <form [formGroup]="formInformConsentApproval">
                        <h6>PERSETUJUAN TINDAKAN KEDOKTERAN</h6>
                        Yang bertandatangan di bawah ini:
                        <ion-grid *ngFor="let personal of datapersonal">
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Nama
                                </ion-col>
                                <ion-col>
                                    <ion-input type="text" value="{{ nama_ortu }}" formControlName="nama_ortu" placeholder="Nama Ortu / Rekan"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Umur
                                </ion-col>
                                <ion-col>
                                    <ion-input type="text" value="{{ umur_ortu }}" formControlName="umur_ortu" placeholder="Umur"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Kelamin
                                </ion-col>
                                <ion-col>
                                    <ion-list>
                                        <ion-item>
                                            <ion-label>L/P</ion-label>
                                            <ion-select formControlName="kelamin_ortu" [(ngModel)]="kelamin_ortu">
                                                <ion-option value="L">L</ion-option>
                                                <ion-option value="P">P</ion-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-list>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Alamat
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-textarea value="{{ alamat }}" formControlName="alamat" placeholder="Alamat.."></ion-textarea>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    No. KTP/SIM/ID
                                </ion-col>
                                <ion-col>
                                    <ion-input value="{{ ktp }}" type="text" formControlName="ktp" placeholder="KTP/SIM/ID"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Dengan ini menyatakan : {{ selection }}<br>
                                    untuk dilakukannya tindakan :
                                    <ion-input placeholder="Tindakan" value="{{ tindakan_operasi }}"  formControlName="tindakan_operasi" class="tindakan-operasi"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    Nama
                                </ion-col>
                                <ion-col>
                                    {{ personal.nama_pasien }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    Umur
                                </ion-col>
                                <ion-col>
                                    {{ personal.umur }} tahun
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    Kelamin
                                </ion-col>
                                <ion-col>
                                    {{ personal.kelamin }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    No. RM
                                </ion-col>
                                <ion-col>
                                    {{ personal.no_medrec }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Saya memahami perlunya dan manfaat tindakan tersebut sebagaimana telah dijelaskan seperti di atas kepada saya, termasuk risiko
                                    dan komplikasi yang mungkin timbul. Saya juga menyadari bahwa oleh karena ilmu kedokteran
                                    bukanlah ilmu pasti, maka keberhasilan tindakan kedokteran bukanlah keniscayaan, melainkan
                                    sangat bergantung kepada izin Tuhan Yang Maha Esa.
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-2>
                                    Bogor,
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-datetime formControlName="tgl_inform" displayFormat="DD/MM/YYYY" 
                                        [(ngModel)]="myDate"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-1>
                                    Jam
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-datetime formControlName="jam_inform" displayFormat="HH" [(ngModel)]="myDate"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Yang menyatakan
                                    <div class="{{ ttdMenyatakan ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdMenyatakan')">
                                    </div>
                                    <div *ngIf="ttdMenyatakan" class="signature">
                                        <stylus-sirus (stylusChanged)="stylusChangeYangMenyatakan($event)"></stylus-sirus>
                                    </div>
                                </ion-col>
                                <ion-col>
                                    Dokter Operator
                                    <div class="{{ ttdDokter ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdDokter')">
                                    </div>
                                    <div *ngIf="ttdDokter" class="signature">
                                        <stylus-sirus (stylusChanged)="stylusChangeDokter($event)"></stylus-sirus>
                                    </div>
                                </ion-col>
                                <ion-col>
                                    Saksi 1
                                    <div class="{{ ttdSaksi1 ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdSaksi1')">
                                    </div>
                                    <div *ngIf="ttdSaksi1" class="signature">
                                        <stylus-sirus (stylusChanged)="stylusChangeSaksi1($event)"></stylus-sirus>
                                    </div>
                                </ion-col>
                                <ion-col>
                                    Saksi 2
                                    <div class="{{ ttdSaksi2 ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdSaksi2')">
                                    </div>
                                    <div *ngIf="ttdSaksi2" class="signature">
                                        <stylus-sirus (stylusChanged)="stylusChangeSaksi2($event)"></stylus-sirus>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <button ion-button color="primary" (click)="submitApproval(formInformConsentApproval.value)" block>
                            <strong>SUBMIT</strong>
                        </button>
                    </form>
                </ion-list>

                <ion-list *ngSwitchCase="'PENOLAKAN'">
                    <br>
                    <form [formGroup]="formInformConsentNotApproval">
                        <h6>PENOLAKAN TINDAKAN KEDOKTERAN</h6>
                        Yang bertandatangan di bawah ini:
                        <ion-grid *ngFor="let personal of datapersonal">
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Nama
                                </ion-col>
                                <ion-col>
                                    <ion-input type="text" value="{{ nama_ortu }}" formControlName="nama_ortu" placeholder="Nama Ortu / Rekan"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Umur
                                </ion-col>
                                <ion-col>
                                    <ion-input type="text" value="{{ umur_ortu }}" formControlName="umur_ortu" placeholder="Umur"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Kelamin
                                </ion-col>
                                <ion-col>
                                    <ion-list>
                                        <ion-item>
                                            <ion-label>L/P</ion-label>
                                            <ion-select formControlName="kelamin_ortu" [(ngModel)]="kelamin_ortu">
                                                <ion-option value="L">L</ion-option>
                                                <ion-option value="P">P</ion-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-list>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    Alamat
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-textarea value="{{ alamat }}" formControlName="alamat" placeholder="Alamat.."></ion-textarea>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-4>
                                    No. KTP/SIM/ID
                                </ion-col>
                                <ion-col>
                                    <ion-input type="text" value="{{ ktp }}" formControlName="ktp" placeholder="KTP/SIM/ID"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Dengan ini menyatakan : {{ selection }}<br>
                                    untuk dilakukannya tindakan :
                                    <ion-input placeholder="Tindakan" value="{{ tindakan_operasi }}" formControlName="tindakan_operasi" class="tindakan-operasi"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    Nama
                                </ion-col>
                                <ion-col>
                                    {{ personal.nama_pasien }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    Umur
                                </ion-col>
                                <ion-col>
                                    {{ personal.umur }} tahun
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    Kelamin
                                </ion-col>
                                <ion-col>
                                    {{ personal.kelamin }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    No. RM
                                </ion-col>
                                <ion-col>
                                    {{ personal.no_medrec }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Saya memahami perlunya dan manfaat tindakan tersebut sebagaimana telah dijelaskan seperti di atas kepada saya, termasuk risiko
                                    dan komplikasi yang mungkin timbul apabila tindakan tersebut tidak dilakukan. Saya bertanggungjawab
                                    secara penuh atas segala akibat yang mungkin timbul sebagai akibat tidak dilakukannya
                                    tindakan kedokteran tersebut.
                                </ion-col>
                            </ion-row>
                            <ion-row class="rowlist">
                                <ion-col col-2>
                                    Bogor,
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-datetime formControlName="tgl_inform" displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-1>
                                    Jam
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-datetime formControlName="jam_inform" displayFormat="HH.00" pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Yang menyatakan
                                    <div class="{{ ttdMenyatakanNolak ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdMenyatakanNolak')">
                                    </div>
                                    <div *ngIf="ttdMenyatakanNolak" class="signature">
                                        <stylus-sirus (stylusChanged)="stylusChangeYangMenyatakan($event)"></stylus-sirus>
                                    </div>
                                </ion-col>
                                <ion-col>
                                    Saksi 1
                                    <div class="{{ ttdSaksi1Nolak ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdSaksi1Nolak')">
                                    </div>
                                    <div *ngIf="ttdSaksi1Nolak" class="signature">
                                        <stylus-sirus (stylusChanged)="stylusChangeSaksi1($event)"></stylus-sirus>
                                    </div>
                                </ion-col>
                                <ion-col>
                                    Saksi 2
                                    <div class="{{ ttdSaksi2Nolak ? 'ttdbtndis' : 'ttdbtn' }}" (click)="openTTD('ttdSaksi2Nolak')">
                                    </div>
                                    <div *ngIf="ttdSaksi2Nolak" class="signature">
                                        <stylus-sirus (stylusChanged)="stylusChangeSaksi2($event)"></stylus-sirus>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <button ion-button color="primary" (click)="submitNotApproval(formInformConsentNotApproval.value)" block>
                            <strong>SUBMIT</strong>
                        </button>
                    </form>
                </ion-list>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'penandaan'">

            <form [formGroup]="formInformConsentTagging">
                <!-- <ion-row class="rowlist">
                            <ion-col col-4>
                                    Penandaan Operasi untuk : 
                                </ion-col>
                                <ion-col>
                                    <ion-list>
                                        <ion-item>
                                            <ion-label>Pilih Jenis Kelamin</ion-label>
                                            <ion-select formControlName="penandaan_operasi" 
                                            [(ngModel)]="penandaan_operasi">
                                                <ion-option value="pria">Pria</ion-option>
                                                <ion-option value="wanita">Wanita</ion-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-list>
                            </ion-col>
                        </ion-row> -->
                <stylus-signature (stylusChangedTag)="stylusChangePenandaan($event)" [status]="penandaan_operasi">
                </stylus-signature>
                <button ion-button color="primary" (click)="submitPenandaan(formInformConsentTagging.value)" block>
                    <strong>SUBMIT PENANDAAN</strong>
                </button>
            </form>
        </ion-list>
    </div>
</ion-content>