<ion-toolbar>
  <ion-title class="title-ion">Hasil Radiologi Pasien</ion-title>
  <ion-buttons end>
    <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="content-modal" padding>
  <h2>Data Pasien</h2>
  <ion-grid  *ngFor="let personal of datapersonal" >
      <!--<ion-row class="rowlist">
            <ion-col>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
                Tanggal
            </ion-col>
            <ion-col>
                    <ion-item>
                        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" [(ngModel)]="myDate"></ion-datetime>
                    </ion-item>
            </ion-col>
        </ion-row>-->
        <ion-row class="rowlist">
        <ion-col>
            Nama Pasien
        </ion-col>
        <ion-col>
            <strong>{{ personal.name }}</strong>
        </ion-col>
        <ion-col>
            Jaminan
        </ion-col>
        <ion-col>
            <strong>{{ personal.jaminan }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nama Dokter
        </ion-col>
        <ion-col>
            <strong>{{ personal.dokter }}</strong>
        </ion-col>
        <ion-col>
            Tanggal Lahir
        </ion-col>
        <ion-col>
            <strong>{{ personal.tgl }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nomer RM
        </ion-col>
        <ion-col>
            <strong>{{ personal.norm }}</strong>
        </ion-col>
        <ion-col>
            Umur
        </ion-col>
        <ion-col>
            <strong>{{ personal.umur }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Kelas
        </ion-col>
        <ion-col>
            <strong>{{ personal.kelas }}</strong>
        </ion-col>
        <ion-col>
            Jenis Kelamin
        </ion-col>
        <ion-col>
            <strong>{{ personal.gender }}</strong>
        </ion-col>
        </ion-row>
  </ion-grid>
  <ion-row class="rowlist">
          <ion-col>
              <ion-item>
                <ion-label>Tanggal 1</ion-label>
                <ion-select [(ngModel)]="tanggal1" interface="popover">
                    <ion-option value="18 Mei 2017">18 Mei 2017</ion-option>
                    <ion-option value="22 Mei 2017">22 Mei 2017</ion-option>
                </ion-select>
              </ion-item>
          </ion-col>
  </ion-row>
  <ion-row class="rowlist">
          <ion-col>
              <ion-item>
                <ion-label>Tanggal 2</ion-label>
                <ion-select [(ngModel)]="tanggal2" interface="popover">
                    <ion-option value="18 Mei 2017">18 Mei 2017</ion-option>
                    <ion-option value="22 Mei 2017">22 Mei 2017</ion-option>
                </ion-select>
              </ion-item>
          </ion-col>
  </ion-row>
  <ion-row class="rowlist">
          <ion-col>
              <button ion-button color="primary"><strong>Bandingkan</strong></button>
          </ion-col>
      </ion-row>
  <ion-grid>
      <ion-row class="rowlist">
          <ion-col>
              <strong>Tanggal</strong>
          </ion-col>
          <ion-col col-6>
              <strong>Hasil Radiologi</strong>
          </ion-col>
          <ion-col>
              <strong>Nama Dokter</strong>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              18 Mei 2017
          </ion-col>
          <ion-col col-6>
                <img src="assets/img/roentgenA.jpg">
          </ion-col>
          <ion-col>
              Dr. Adi Putro
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              22 Mei 2017
          </ion-col>
          <ion-col col-6>
              <img src="assets/img/roentgenB.jpg">
          </ion-col>
          <ion-col>
              Dr. Adi Putro
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>