<ion-toolbar>
  <ion-title class="title-ion">Radiologi Pasien</ion-title>
  <ion-buttons end>
    <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="content-modal" padding>
  <h2>Data Pasien</h2>
  <ion-grid  *ngFor="let personal of datapersonal" >
        <ion-row class="rowlist">
            <ion-col>
                Nama Pasien
            </ion-col>
            <ion-col>
                <strong>{{ personal.nama_pasien }}</strong>
            </ion-col>
            <ion-col>
                Jaminan
            </ion-col>
            <ion-col>
                <strong>{{ personal.jaminan }}</strong>
            </ion-col>
            </ion-row>
            <ion-row class="rowlist">
            <ion-col>
                Nama Dokter
            </ion-col>
            <ion-col>
                <strong>{{ doctorname }}</strong>
            </ion-col>
            <ion-col>
                Tanggal Lahir
            </ion-col>
            <ion-col>
                <strong>{{ mapToMoment(personal.tgl_lahir) }}</strong>
            </ion-col>
            </ion-row>
            <ion-row class="rowlist">
            <ion-col>
                Nomer RM
            </ion-col>
            <ion-col>
                <strong>{{ personal.no_medrec }}</strong>
            </ion-col>
            <ion-col>
                Umur
            </ion-col>
            <ion-col>
                <strong>{{ personal.umur }} tahun</strong>
            </ion-col>
            </ion-row>
            <ion-row class="rowlist">
            <ion-col>
                Kelas
            </ion-col>
            <ion-col>
                <strong>RJ</strong>
            </ion-col>
            <ion-col>
                Jenis Kelamin
            </ion-col>
            <ion-col>
                <strong>{{ personal.kelamin }}</strong>
            </ion-col>
            </ion-row>
  </ion-grid>
  <br>
  <ion-grid>
      <ion-row>
          <ion-col>
              <div *ngIf="diagnosa" class="search-wrapper">
                Diagnosa :<br>
              <ul class="list-icd">
                <li *ngFor="let icd10 of listicd;let i = index">
                {{ icd10.penyakit }} ( {{ icd10.icd }} )
                </li>
              </ul>
              </div>
              <div *ngIf="!diagnosa">
                Indikasi :<br>
                <ion-textarea [(ngModel)]="indikasi" placeholder="Ketik Indikasi... " rows="5"></ion-textarea>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
  <div *ngFor="let key of keyDataRad">
    <h6>{{ key }}</h6>
    <ion-grid *ngFor="let dataRad of listDataRad[key]">
        <ion-row>
            <ion-col>
                {{ dataRad.nama_pemeriksaan }}
            </ion-col>
            <ion-col col-2>
                <ion-item>
                  <ion-checkbox color="primary" (click)="addRadio(dataRad,dataRad.id_radiologi,i)"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
  </div>
  <ion-item>
    <ion-textarea placeholder="Keterangan klinis singkat" rows="4"></ion-textarea>
  </ion-item>
  <button ion-button color="primary" (click)="submitRad()" block><strong>SUBMIT PERMINTAAN</strong></button>
</ion-content>