<ion-header>
  <ion-navbar color="darknavy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ doctorName }}</ion-title>
    <ion-buttons end>
      <button ion-button color="darkblue" (click)="refreshData()">PEMBARUAN DATA</button>
      <button ion-button color="primary" (click)="openModal('Consultation')">Konsultasi Dokter</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-wrapper" id="ex3" padding>
  <information-section [dataPatient]="dataPatient" [dataReview]="dataReview" [dataKidReview]="dataKidReview" [statusAlergi]="statusAlergi" [nodok]="nodok"
    [statusDiseas]="statusDiseas" [reviewStatus]="reviewStatus" [doctorName]="doctorName" 
    [integratedNoted]="integratedNoted" [dieases]="dieases" (listallergy)="alergyChange($event)" 
    (penyakit)="diseaseChange($event)">
  </information-section>
  <soap-section [dataPatient]="dataPatient" [specialist]="specialist" [doctorName]="doctorName" [buttonsave]="buttonsave" 
  [buttonsubmit]="buttonsubmit" [listallergymedicine]="listallergymedicine" [penyakit]="penyakit">
  </soap-section>
</ion-content>