$grey:#eceef3;
$blackgrey:#ccc;
$blue:#54a4e7;
$darkblue:#4a95d6;
$darkgrey: #f3f3f7;
$lightgrey: #f1f1f1;
$darknavy: #354052;
$green: #32db64;
$red: #f44336;

@font-face{
 font-family: 'TW Black';
 src: url('../assets/fonts/Titillium-Black.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Bold';
 src: url('../assets/fonts/Titillium-Bold.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Light';
 src: url('../assets/fonts/Titillium-Light.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Regular';
 src: url('../assets/fonts/Titillium-Regular.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Regular Italic';
 src: url('../assets/fonts/Titillium-RegularItalic.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Semibold';
 src: url('../assets/fonts/Titillium-Semibold.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Semibold Italic';
 src: url('../assets/fonts/Titillium-SemiboldItalic.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Thin';
 src: url('../assets/fonts/Titillium-Thin.otf') format('opentype'); 
}

ion-header {
    font-family: 'TW Semibold';
}

.showhide {
    float:right;
    text-align: right;
    font-weight: bold;
    font-size: 1.8em;
    margin-top:-3px;
}

.separate {
    margin-top:10px;
    border:1px solid #ddd;
}

/* ATRIBUTE */

h1,h2,h3,h4,h5,h6 {
    font-family: 'TW Bold';
    color: $darknavy;
}

.boldtext .text-input-md {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.rowlist {
    align-items: center;
    border-bottom:1px solid $grey;
}

.rowcenter {
    align-items: center;
}

#notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: #f53d3d;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

/* CONTENT */

.content-wrapper {
    background-color: $grey;
    font-family: 'TW Regular';  
}

.scroll-content::-webkit-scrollbar{
width:20px;
background-color:#c0c0c0;
}

.scroll-content::-webkit-scrollbar-thumb{
background-color:$darknavy;
}
.scroll-content::-webkit-scrollbar-thumb:hover{
background-color:$darknavy;
}
.scroll-content::-webkit-scrollbar-thumb:active{
background-color:$darknavy;
}

.title-wrapper {
    padding: 10px 20px 0px 20px;
}

/* CARD */

.header-card {
    padding: 16px;
    font-size: 1.8rem;
    color: $darknavy;
    background-color: $darkgrey;
}

#title-card-icon {
    vertical-align: middle;
    font-size: 1.6em;
}

.title-card-span{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.button-card-wrapper {
    padding: 10px;
}

/* AVATAR */

.avatar-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-img {
    width:80px;
    height: 80px;
    align-items: center;
}

#iconbadge {
    font-size: 2em;

    &.hover{
        color: white;
    }
}

/* NOTIFICATION PLANNING */

.notification-planning-wrapper {
        padding: 0;
        margin: 0;
        list-style: none;
        align-items: center;
        

        .icon-badge-send{
                color: white;
                padding: 10px;
                margin: 5px;
                float: left;
                margin-right: 5px;
                background: $darknavy;
                padding: 15px 18px;
                border-radius: 50%;
                position: relative;
        }

        .icon-badge{
            color: white;
            padding: 10px;
            margin: 5px;
            float: left;
            margin-right: 5px;
            background: $darknavy;
            padding: 15px 18px;
            border-radius: 50%;
            position: relative;

             &:after {
                    content:'';
                    position:absolute;
                    top:0px;
                    right:-5px;
                    font-size:.7em;
                    background:$green;
                    color:white;
                    width:18px;height:18px;
                    text-align:center;
                    line-height:18px;
                    border-radius:50%;
                    box-shadow:0 0 1px #333;
                }

        }

        .icon-badge-check{
            color: white;
            padding: 10px;
            margin: 5px;
            float: left;
            margin-right: 5px;
            background: $blue;
            padding: 15px 18px;
            border-radius: 50%;
            position: relative;
        }
    }

.txt-list-medicine {
    margin: 10px;
    font-size: 1.1em;
    text-align: left;
}

.cancel-medicine {
    float: right;
}

/* STYLUS CARD */

.header-title-planning {
    padding: 0;
}

sirus-stylus {
    div {
        border-top: 1px solid $darkgrey !important;
        border-left: 0px solid $darkgrey !important;
        border-right: 0px solid $darkgrey !important;
        border-bottom: 1px solid $darkgrey !important;
        border-radius: 0px !important;
    }
}

/* SEARCH */

.search-wrapper {
    margin: 10px;
    height: auto;
    .list-icd {
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            background: $blue;
            color: white;
            font-size: 1em;
            padding: 5px;
            margin: 5px;
            float: left;
        }
    }
}

.riwayat-pasien {
    margin: 5px;
    height: auto;
    .list-riwayat {
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            background: $blue;
            color: white;
            font-size: 1em;
            padding: 5px;
            margin: 2px;
            float: left;
        }
    }
}

.search-autocomplete {
	width: 100%;

	ion-searchbar {
		padding: 1px !important;
	}

	ion-list {
		position: relative;
		width: inherit;
		overflow-y: scroll;
        float: left;
		max-height: 150%;
		z-index: 999;

		ion-item {

			img {
				max-height: 2.5rem;
				width: auto;
				margin: auto;
				display: block;
			}
		}

		ion-item:hover {
			cursor: pointer;
			background: #f1f1f1
		}
	}
}

.btn-close {
    margin-left: 10px;
}

/* BUTTON FAB */

.fab {
    width: 64px;
    height: 64px;
}


.loading-md .loading-wrapper {
    border-radius: 2px;
    max-width: 320px;
    max-height: 90%;
    color: $darknavy;
    background: #fafafa;
    font-size: 1.3em;
    font-family: 'TW Semibold';
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    padding: 24px;
}

.btn-mode {
    text-align: right;
}

.title-mode {
    text-align: left;
}

.horizon-scroll {
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    ion-card {
        display: inline-block;
        vertical-align:top;
    }
}