<div class="title-wrapper">
  <ion-row>
    <ion-col col-3>
      <h3>INFORMASI PASIEN</h3>
    </ion-col>
    <ion-col>
      <hr class="separate">
    </ion-col>
    <ion-col col-1>
      <span class="showhide">
        <ion-icon color="darkblue" name="{{ showInfo == true ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showHideInfo()"></ion-icon>
      </span>
    </ion-col>
  </ion-row>
</div>
<div *ngIf="showInfo">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header class="header-card">
          <ion-icon id="title-card-icon" name="contact"></ion-icon>
          <span class="title-card-span">
            <strong>DATA PASIEN</strong>
          </span>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="avatar-wrapper">
                <img src="assets/img/male.png" class="avatar-img">
              </div>
            </ion-col>
            <ion-col col-8>
              <ion-grid *ngFor="let patient of dataPatient">
                <ion-row class="rowlist">
                  <ion-col>
                    Nama Pasien
                  </ion-col>
                  <ion-col>
                    <strong>{{ patient.nama_pasien }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row class="rowlist">
                  <ion-col>
                    Nomor RM
                  </ion-col>
                  <ion-col>
                    <strong>{{ patient.no_medrec }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row class="rowlist">
                  <ion-col>
                    Jaminan
                  </ion-col>
                  <ion-col>
                    <strong>{{ patient.jaminan }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row class="rowlist">
                  <ion-col>
                    Umur
                  </ion-col>
                  <ion-col>
                    <strong>{{ patient.umur }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row class="rowlist">
                  <ion-col>
                    Tgl Lahir
                  </ion-col>
                  <ion-col>
                    <strong>{{ mapToMoment(patient.tgl_lahir) }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row class="rowlist">
                  <ion-col>
                    Jenis Kelamin
                  </ion-col>
                  <ion-col>
                    <strong>{{ patient.kelamin }}</strong>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="button-card-wrapper">
          <button ion-button color="blue" (click)="openModal('History')" block icon-left>
            <ion-icon name="bookmark"></ion-icon>
            <strong> LIHAT RIWAYAT PASIEN</strong>
          </button>
        </div>
      </ion-card>
      <!-- <ion-row class="rowcenter">
          <ion-col>
            Informasi Notifikasi
            <ion-icon name="information-circle" (click)="presentPopover($event)"></ion-icon>
          </ion-col>
        </ion-row> -->
      <ion-row>
        <ion-col>
          <!-- <ul class="notification-planning-wrapper">
                  <li><div class="icon-badge-send"><ion-icon name="flask"></ion-icon></div></li>
                  <li><div class="icon-badge-check" (click)="openModal('BandingRad')"><ion-icon name="pulse"></ion-icon></div></li>
                  <li><div class="icon-badge"><ion-icon name="medkit"></ion-icon></div></li>
                  <li class="icon-badge-check"><ion-icon name="body"></ion-icon> </li>
                  <li class="icon-badge"><ion-icon name="nutrition"></ion-icon> </li>
                  <li class="icon-badge-send"><ion-icon name="medical"></ion-icon></li>
                  <li class="icon-badge" (click)="openModal('JawabKonsul')"><ion-icon name="mail"></ion-icon></li>
                </ul> -->
          <ion-card>
            <ion-card-header class="header-card">
              <ion-icon id="title-card-icon" name="eye"></ion-icon>
              <span class="title-card-span">
                <strong>RIWAYAT PENYAKIT</strong>
              </span>
            </ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div *ngIf="statusDiseas">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                            <ion-textarea 
                            placeholder="Tambah Riwayat Penyakit Dahulu" [(ngModel)]="disease" rows="2"></ion-textarea>
                            <button ion-button color="blue" (click)="saveDisease()" block icon-left 
                            [disabled]="!disease">
                              <strong> SIMPAN RIWAYAT PENYAKIT</strong>
                          </button>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rowlist">
                        <ion-col>
                          Riwayat Penyakit :
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                            <div *ngFor="let dieases of dieases;let i = index">
                                <ul>
                                    <li *ngFor="let penyakit of generateArray(dieases.penyakit);let i = index">
                                      {{ penyakit.riwayat }}
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div *ngIf="!statusDiseas">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          Belum ada riwayat penyakit
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header class="header-card">
          <ion-icon id="title-card-icon" name="clipboard"></ion-icon>
          <span class="title-card-span">
            <strong>ASSESMEN</strong>
          </span>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div *ngIf="!statusPengkajian">
                <ion-grid *ngFor="let review of dataReview">
                  <ion-row class="rowlist">
                    <ion-col col-3>
                      TD
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ review.td }} mmHg</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-3>
                      TB
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ review.tb }} cm</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-3>
                      BB
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ review.bb }} kg</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-3>
                      Keluhan
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ review.keluhan }}</strong>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="statusPengkajian">
                <ion-grid *ngFor="let kidReview of dataKidReview">
                  <ion-row class="rowlist">
                    <ion-col col-4>
                      TD
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ kidReview.td1 }}/{{ kidReview.td2 }}</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-4>
                      TB
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ kidReview.tb }} cm</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-4>
                      BB
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ kidReview.bb }} kg</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-4>
                      Riwayat Alergi Obat
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ kidReview.riwayatAlergiObatKet }}</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-4>
                      Riwayat Alergi Makanan
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ kidReview.riwayatAlergiMakananKet }}</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row class="rowlist">
                    <ion-col col-4>
                      Riwayat Alergi Pantangan
                    </ion-col>
                    <ion-col>
                      :
                      <strong>{{ kidReview.riwayatAlergiPantangan }}</strong>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button color="blue" (click)="openModal('Assessment')" block icon-left>
                <ion-icon name="information-circle"></ion-icon>
                <strong> DETAIL ASSESMEN</strong>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-card-header class="header-card">
          <ion-icon id="title-card-icon" name="medkit"></ion-icon>
          <span class="title-card-span">
            <strong>RIWAYAT ALERGI OBAT</strong>
          </span>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div *ngIf="statusAlergi">
                <ion-grid>
                  <ion-row class="rowlist">
                    <ion-col>
                      <ion-searchbar (ionInput)="searchData($event,'ALERGI')" [(ngModel)]="searchQueryCategoryAllergyMedicine" [ngModelOptions]="{standalone: true}"
                        placeholder="Tambah obat yang alergi pada pasien ...">
                      </ion-searchbar>

                      <ion-row class="rowlist">
                        <ion-col>
                          <span class="txt-list-medicine">Riwayat Alergi Obat :</span>
                        </ion-col>
                      </ion-row>

                      <div class="search-autocomplete">
                        <ion-list *ngIf="autocompletestatusallergymedicine">
                          <ion-item *ngFor="let allergyMedicine of allergyMedicine;let i = index;" 
                          (click)="addItem(i,'ALERGI')">
                            {{ allergyMedicine.nama }} ( {{ allergyMedicine.satuan }} )
                          </ion-item>
                        </ion-list>
                        <!-- <span class="txt-list-obat">Daftar obat yang alergi pada pasien :</span> -->
                        <ion-list *ngFor="let integratedNoted of integratedNoted"> 
                          <ion-item *ngFor="let alergi of generateArray(integratedNoted.p_obat_alergi)">
                            {{ alergi.nama }} ( {{ alergi.satuan }} )
                          </ion-item>
                        </ion-list>
                        <ion-list> 
                            <ion-item *ngFor="let listallergymedicine of listallergymedicine;let i = index">
                              {{ listallergymedicine.nama }} ( {{ listallergymedicine.satuan }} )
                              <ion-icon class="cancel-medicine" name="close" (click)="removeItem(i)"></ion-icon>
                            </ion-item>
                          </ion-list>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="!statusAlergi">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      Belum ada riwayat alergi obat
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</div>