<div class="title-wrapper">
  <ion-row>
    <ion-col col-2>
      <h3>PENGKAJIAN</h3>
    </ion-col>
    <ion-col>
      <hr class="separate">
    </ion-col>
    <ion-col col-1>
      <span class="showhide">
        <ion-icon color="darkblue" name="{{ showExamine == true ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showHideExamine()"></ion-icon>
      </span>
    </ion-col>
  </ion-row>
  <button ion-button color="{{ showS ? 'darkblue' : 'light'  }}" (click)="showCard('S')">
    <strong>S</strong>
  </button>
  <button ion-button color="{{ showO ? 'darkblue' : 'light'  }}" (click)="showCard('O')">
    <strong>O</strong>
  </button>
  <button ion-button color="{{ showA ? 'darkblue' : 'light'  }}" (click)="showCard('A')">
    <strong>A</strong>
  </button>
  <button ion-button color="{{ showPObat ? 'darkblue' : 'light'  }}" (click)="showCard('P.OBAT')">
    <strong>P.OBAT</strong>
  </button>
  <button ion-button color="{{ showPLab ? 'darkblue' : 'light'  }}" (click)="showCard('P.LAB')">
    <strong>P.LAB</strong>
  </button>
  <button ion-button color="{{ showPRad ? 'darkblue' : 'light'  }}" (click)="showCard('P.RAD')">
    <strong>P.RAD</strong>
  </button>
  <button ion-button color="{{ showPFisio ? 'darkblue' : 'light'  }}" (click)="showCard('P.FISIO')">
    <strong>P.FISIO</strong>
  </button>
  <button ion-button color="{{ showPTindakan ? 'darkblue' : 'light'  }}" (click)="showCard('P.TINDAKAN')">
    <strong>P.TINDAKAN</strong>
  </button>
  <button *ngIf="showInformConsent()" ion-button color="primary" (click)="openModal('InformConsent')">Inform Consent</button>
</div>
<div *ngIf="showExamine">
  <form [formGroup]="formPemeriksaan">
    <ion-slides (ionSlideDidChange)="slidesChanged()">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-row class="rowlist">
              <ion-col col-6 class="title-mode">
                <strong>S (Subject)</strong>
              </ion-col>
              <ion-col col-6 class="btn-mode">
                <div *ngIf="stylusModeS">
                  <button ion-button color="darkblue" outline icon-left (click)="stylusModeS = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left (click)="stylusModeS = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
                <div *ngIf="!stylusModeS">
                  <button ion-button color="darkblue" color="darkblue" icon-left (click)="stylusModeS = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left outline (click)="stylusModeS = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <div *ngIf="stylusModeS">
            <stylus-sirus (stylusChanged)="stylussChange($event)"></stylus-sirus>
          </div>
          <ion-item *ngIf="!stylusModeS">
            <ion-textarea formControlName="s_description" 
            placeholder="Ketik Informasi (Mode Keyboard) " rows="10"></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-row class="rowlist">
              <ion-col col-6 class="title-mode">
                <strong>O (Object)</strong>
              </ion-col>
              <ion-col col-6 class="btn-mode">
                <div *ngIf="stylusModeO">
                  <button ion-button color="darkblue" outline icon-left (click)="stylusModeO = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left (click)="stylusModeO = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
                <div *ngIf="!stylusModeO">
                  <button ion-button color="darkblue" icon-left (click)="stylusModeO = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left outline (click)="stylusModeO = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <div *ngIf="stylusModeO">
            <stylus-sirus (stylusChanged)="stylusoChange($event)"></stylus-sirus>
          </div>
          <ion-item *ngIf="!stylusModeO">
            <ion-textarea formControlName="o_description" 
            placeholder="Ketik Informasi (Mode Keyboard) " rows="10"></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-row class="rowlist">
              <ion-col col-6 class="title-mode">
                <strong>A (Assessment)</strong>
              </ion-col>
              <ion-col col-6 class="btn-mode">
                <div *ngIf="stylusModeA">
                  <button ion-button color="darkblue" outline icon-left (click)="stylusModeA = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left (click)="stylusModeA = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
                <div *ngIf="!stylusModeA">
                  <button ion-button color="darkblue" icon-left (click)="stylusModeA = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left outline (click)="stylusModeA = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <div class="search-wrapper">
            <ion-row class="rowlist">
              <ion-col col-2>
                CODING ICDX
              </ion-col>
              <ion-col>
                <ul class="list-icd">
                  <li *ngFor="let icd10 of listicd;let i = index">
                    {{ icd10.penyakit }} ( {{ icd10.icd }} )
                    <ion-icon class="btn-close" name="close" (click)="removeItem(i,'ICDX')"></ion-icon>
                  </li>
                </ul>
              </ion-col>
            </ion-row>
          </div>
          <div class="search-autocomplete">
            <ion-searchbar (ionInput)="searchData($event,'ICDX')" [(ngModel)]="searchQueryICDX" 
            [ngModelOptions]="{standalone: true}"
              placeholder="Ketik Diagnosa ...">
            </ion-searchbar>
            <ion-list *ngIf="autocompleteStatusDiagnosis">
              <ion-item *ngFor="let icdx of icdx;let i = index" (click)="addItem(i,'ICDX')">
                {{ icdx.penyakit }}
              </ion-item>
            </ion-list>
          </div>
          <div *ngIf="stylusModeA">
            <stylus-sirus (stylusChanged)="stylusaChange($event)"></stylus-sirus>
          </div>
          <ion-item *ngIf="!stylusModeA">
            <ion-textarea formControlName="a_description" 
            placeholder="Ketik Informasi (Mode Keyboard) " rows="10"></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-row class="rowlist">
              <ion-col col-6 class="title-mode">
                <strong>P (Planning) Resep dan Obat</strong>
              </ion-col>
              <ion-col col-6 class="btn-mode">
                <div *ngIf="stylusModePObat">
                  <button ion-button color="darkblue" outline icon-left (click)="stylusModePObat = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left (click)="stylusModePObat = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
                <div *ngIf="!stylusModePObat">
                  <button ion-button color="darkblue" icon-left (click)="stylusModePObat = false">
                    <ion-icon name="create"></ion-icon>
                    Keyboard
                  </button>
                  <button ion-button color="darkblue" icon-left outline (click)="stylusModePObat = true">
                    <ion-icon name="brush"></ion-icon>
                    Stylus
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-row>
            <ion-col class="title-mode">
              <span class="txt-list-medicine">Obat :</span>
              <div class="search-autocomplete">
                <ion-row>
                  <ion-col>
                    <ion-searchbar (ionInput)="searchData($event,'OBAT')" [(ngModel)]="searchQueryCategoryMedicine" [ngModelOptions]="{standalone: true}"
                      placeholder="Ketik Obat ...">
                    </ion-searchbar>
                  </ion-col>
                </ion-row>
                <ion-list *ngIf="autocompletestatusmedicine">
                  <ion-item *ngFor="let medicine of medicine;let i = index;" (click)="addItem(i,'OBAT')">
                    {{ medicine.nama }} ( {{ medicine.satuan }} )
                  </ion-item>
                </ion-list>
                <ion-list>
                  <ion-item *ngFor="let listmedicine of listmedicine;let i = index;" 
                  (click)="addObattoDesc(listmedicine)">
                    {{ i+1 }}.) {{ listmedicine.nama }} ( {{ listmedicine.satuan }} )
                    <ion-icon class="cancel-medicine" name="close" (click)="removeItem(i,'OBAT')"></ion-icon>
                  </ion-item>
                </ion-list>
              </div>
            </ion-col>
          </ion-row>
          <div *ngIf="stylusModePObat">
            <stylus-sirus (stylusChanged)="styluspoChange($event)"></stylus-sirus>
          </div>
          <div *ngIf="!stylusModePObat" class="title-mode">
            <button ion-button color="blue" (click)="appendChar('R/')">
              <strong>R/</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('Rx')">
              <strong>Rx</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('S.')">
              <strong>S</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('dd')">
              <strong>dd</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('tbsp.')">
              <strong>tbsp.</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('tsp.')">
              <strong>tsp.</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('t.d.s')">
              <strong>t.d.s</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('tab.')">
              <strong>tab.</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('syr.')">
              <strong>syr.</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('Caps.')">
              <strong>Caps</strong>
            </button>
            <button ion-button color="blue" (click)="appendChar('u.d')">
              <strong>u.d</strong>
            </button>
            <ion-item>
              <ion-textarea type="text" [(ngModel)]="medicine_desc" formControlName="p_obat_description" placeholder="Ketik Informasi (Mode Keyboard) "
                rows="10"></ion-textarea>
            </ion-item>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card *ngIf="showPLab">
          <ion-card-header>
            <ion-row class="rowlist">
              <ion-col class="title-mode">
                <strong>P (Planning) Lab</strong>
              </ion-col>
              <ion-col class="header-title-planning">
                <button ion-button color="blue" (click)="openModal('Lab')" block icon-left>
                  <ion-icon name="flask"></ion-icon>
                  <strong>PERMINTAAN LABORATORIUM</strong>
                </button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <div class="title-mode">
            <div *ngIf="stylusModePLab">
              <button ion-button color="darkblue" outline icon-left (click)="stylusModePLab = false">
                <ion-icon name="create"></ion-icon>
                Keyboard
              </button>
              <button ion-button icon-left (click)="stylusModePLab = true">
                <ion-icon name="brush"></ion-icon>
                Stylus
              </button>
            </div>
            <div *ngIf="!stylusModePLab">
              <button ion-button color="darkblue" icon-left (click)="stylusModePLab = false">
                <ion-icon name="create"></ion-icon>
                Keyboard
              </button>
              <button ion-button icon-left outline (click)="stylusModePLab = true">
                <ion-icon name="brush"></ion-icon>
                Stylus
              </button>
            </div>
          </div>
          <div *ngIf="stylusModePLab">
            <stylus-sirus (stylusChanged)="stylusplChange($event)"></stylus-sirus>
          </div>
          <ion-item *ngIf="!stylusModePLab">
            <ion-textarea formControlName="p_lab_description" 
            placeholder="Ketik Informasi (Mode Keyboard) " rows="10"></ion-textarea>
          </ion-item>
        </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card *ngIf="showPRad">
            <ion-card-header>
              <ion-row class="rowlist">
                <ion-col class="title-mode">
                  <strong>P (Planning) Radiologi</strong>
                </ion-col>
                <ion-col class="header-title-planning">
                  <button ion-button color="blue" (click)="openModal('Radiology')" block icon-left>
                    <ion-icon name="pulse"></ion-icon>
                    <strong>PERMINTAAN RADIOLOGI</strong>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <div class="title-mode">
              <div *ngIf="stylusModePRad">
                <button ion-button color="darkblue" outline icon-left (click)="stylusModePRad = false">
                  <ion-icon name="create"></ion-icon>
                  Keyboard
                </button>
                <button ion-button icon-left (click)="stylusModePRad = true">
                  <ion-icon name="brush"></ion-icon>
                  Stylus
                </button>
              </div>
              <div *ngIf="!stylusModePRad">
                <button ion-button color="darkblue" icon-left (click)="stylusModePRad = false">
                  <ion-icon name="create"></ion-icon>
                  Keyboard
                </button>
                <button ion-button icon-left outline (click)="stylusModePRad = true">
                  <ion-icon name="brush"></ion-icon>
                  Stylus
                </button>
              </div>
            </div>
            <div *ngIf="stylusModePRad">
              <stylus-sirus (stylusChanged)="stylusprChange($event)"></stylus-sirus>
            </div>
            <ion-item *ngIf="!stylusModePRad">
              <ion-textarea formControlName="p_rad_description" 
              placeholder="Ketik Informasi (Mode Keyboard) " rows="10"></ion-textarea>
            </ion-item>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card *ngIf="showPFisio">
            <ion-card-header>
              <ion-row class="rowlist">
                <ion-col class="title-mode">
                  <strong>P (Planning) Fisioterapi</strong>
                </ion-col>
                <ion-col class="header-title-planning">
                  <button ion-button color="blue" (click)="openModal('Physiotherapy')" block icon-left>
                    <ion-icon name="flask"></ion-icon>
                    <strong>PERMINTAAN FISIOTERAPI</strong>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <div class="title-mode">
              <div *ngIf="stylusModePFisio">
                <button ion-button color="darkblue" outline icon-left (click)="stylusModePFisio = false">
                  <ion-icon name="create"></ion-icon>
                  Keyboard
                </button>
                <button ion-button icon-left (click)="stylusModePFisio = true">
                  <ion-icon name="brush"></ion-icon>
                  Stylus
                </button>
              </div>
              <div *ngIf="!stylusModePFisio">
                <button ion-button color="darkblue" icon-left (click)="stylusModePFisio = false">
                  <ion-icon name="create"></ion-icon>
                  Keyboard
                </button>
                <button ion-button icon-left outline (click)="stylusModePFisio = true">
                  <ion-icon name="brush"></ion-icon>
                  Stylus
                </button>
              </div>
            </div>
            <div *ngIf="stylusModePFisio">
              <stylus-sirus (stylusChanged)="styluspfChange($event)"></stylus-sirus>
            </div>
            <ion-item *ngIf="!stylusModePFisio">
              <ion-textarea formControlName="p_fisio_description" 
              placeholder="Ketik Informasi (Mode Keyboard) " rows="10"></ion-textarea>
            </ion-item>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card *ngIf="showPTindakan">
            <ion-card-header>
              <ion-row class="rowlist">
                <ion-col col-6 class="title-mode">
                  <strong>P (Planning) Tindakan</strong>
                </ion-col>
                <ion-col col-6 class="btn-mode">
                  <div *ngIf="stylusModePTindakan">
                    <button ion-button color="darkblue" outline icon-left (click)="stylusModePTindakan = false">
                      <ion-icon name="create"></ion-icon>
                      Keyboard
                    </button>
                    <button ion-button icon-left (click)="stylusModePTindakan = true">
                      <ion-icon name="brush"></ion-icon>
                      Stylus
                    </button>
                  </div>
                  <div *ngIf="!stylusModePTindakan">
                    <button ion-button color="darkblue" icon-left (click)="stylusModePTindakan = false">
                      <ion-icon name="create"></ion-icon>
                      Keyboard
                    </button>
                    <button ion-button icon-left outline (click)="stylusModePTindakan = true">
                      <ion-icon name="brush"></ion-icon>
                      Stylus
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <div class="search-wrapper">
              <ion-row class="rowlist">
                <ion-col col-2>
                  CODING ICD9
                </ion-col>
                <ion-col>
                  <ul class="list-icd">
                    <li *ngFor="let icd9 of listicd9;let i = index">
                      {{ icd9.deskripsi }} ( {{ icd9.kode }} )
                      <ion-icon class="btn-close" name="close" (click)="removeItem(i,'ICD9')"></ion-icon>
                    </li>
                  </ul>
                </ion-col>
              </ion-row>
            </div>
            <div class="search-autocomplete">
              <ion-searchbar (ionInput)="searchData($event,'ICD9')" [(ngModel)]="searchQueryICD9" 
              [ngModelOptions]="{standalone: true}"
                placeholder="Ketik Tindakan ...">
              </ion-searchbar>
              <ion-list *ngIf="autocompleteStatusAction">
                <ion-item *ngFor="let icd9 of icd9;let i = index" (click)="addItem(i,'ICD9')">
                  {{ icd9.deskripsi }}
                </ion-item>
              </ion-list>
            </div>
            <div *ngIf="stylusModePTindakan">
              <stylus-sirus (stylusChanged)="stylusptChange($event)"></stylus-sirus>
            </div>
            <ion-item *ngIf="!stylusModePTindakan">
              <ion-textarea formControlName="p_tindakan_description" 
              placeholder="Ketik Informasi (Mode Keyboard)" rows="10"></ion-textarea>
            </ion-item>
          </ion-card>
        </ion-slide>
    </ion-slides>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button *ngIf="buttonsave" ion-button block color="darkblue" 
          (click)="submitPemeriksaan(formPemeriksaan.value, 'SIMPAN')">
            SIMPAN PERIKSA UNTUK KONSULTASI
          </button>
          <button *ngIf="!buttonsave" ion-button block color="darkblue" 
          (click)="submitPemeriksaan(formPemeriksaan.value, 'SIMPAN')"
            disabled>
            SIMPAN PERIKSA UNTUK KONSULTASI
          </button>
        </ion-col>
        <ion-col>
          <button *ngIf="buttonsubmit" ion-button block color="blue" 
          (click)="submitPemeriksaan(formPemeriksaan.value, 'SELESAI')">
            SELESAI PERIKSA
          </button>
          <button *ngIf="!buttonsubmit" ion-button block color="blue" 
          (click)="submitPemeriksaan(formPemeriksaan.value, 'SELESAI')"
            disabled>
            SELESAI PERIKSA
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>