<ion-toolbar>
  <ion-title class="title-ion">Riwayat Pasien</ion-title>
  <ion-buttons end>
    <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="content-modal" padding>
  <h2>Data Pasien</h2>
  <ion-grid  *ngFor="let personal of datapersonal" >
        <ion-row class="rowlist">
        <ion-col>
            Nama Pasien
        </ion-col>
        <ion-col>
            <strong>{{ personal.nama_pasien }}</strong>
        </ion-col>
        <ion-col>
            Jaminan
        </ion-col>
        <ion-col>
            <strong>{{ personal.jaminan }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nama Dokter
        </ion-col>
        <ion-col>
            <strong>{{ doctorname }}</strong>
        </ion-col>
        <ion-col>
            Tanggal Lahir
        </ion-col>
        <ion-col>
            <strong>{{ mapToMoment(personal.tgl_lahir) }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nomer RM
        </ion-col>
        <ion-col>
            <strong>{{ personal.no_medrec }}</strong>
        </ion-col>
        <ion-col>
            Umur
        </ion-col>
        <ion-col>
            <strong>{{ personal.umur }} tahun</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Kelas
        </ion-col>
        <ion-col>
            <strong>RJ</strong>
        </ion-col>
        <ion-col>
            Jenis Kelamin
        </ion-col>
        <ion-col>
            <strong>{{ personal.kelamin }}</strong>
        </ion-col>
        </ion-row>
  </ion-grid>
  <hr class="separator">
  <form [formGroup]="formFilter">
  <ion-row>
    <ion-col col-2>
        <p>Pilih Tanggal</p>
    </ion-col>
    <ion-col col-2>
        <ion-datetime class="datefltr" displayFormat="DD/MM/YYYY" formControlName="dateFilter" [(ngModel)]="myDate"></ion-datetime>
    </ion-col>
    <ion-col>
        <button color="darkblue" (click)="filterDate(formFilter.value)" ion-button>Filter</button>
        <button color="primary" (click)="resetData()" ion-button>Reset</button>
    </ion-col>
  </ion-row>
  </form>
  <hr class="separator">
  <ion-row>
      <ion-col col-2>
        <strong>Tanggal</strong>
      </ion-col>
      <ion-col>
        <strong>Catatan Terintegrasi</strong>
      </ion-col>
      <ion-col col-3>
        <strong>Nama Dokter</strong>
      </ion-col>
  </ion-row>
  <hr class="separator">
  <div *ngIf="datact">
    <ion-row *ngFor="let ct of integratedNote; let i = index">
        <ion-col col-2>
          {{ ct.tgl_ct }}
        </ion-col>
        <ion-col>
          <ion-row>
              <ion-col col-1>
                  <strong>S</strong>
              </ion-col>
              <ion-col>
                  {{ ct.s_description }}
                  <br>
                  <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.s_stroke, 's')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                  <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                  <img *ngIf="styluss[i]" class="drawimage" src="{{ ct.images }}" style="width:500px;height:200px;">
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-1>
                  <strong>O</strong>
              </ion-col>
              <ion-col>
                  {{ ct.o_description }}
                  <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.o_stroke, 'o')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                  <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                  <img *ngIf="styluso[i]" class="drawimage" src="{{ ct.imageo }}" style="width:500px;height:200px;">
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-1>
                  <strong>A</strong>
              </ion-col>
              <ion-col>
                  {{ ct.a_description }}
                  <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.a_stroke, 'a')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                  <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                  <img *ngIf="stylusa[i]" class="drawimage" src="{{ ct.imagea }}" style="width:500px;height:200px;">
                  <br>
                  <br>
                  ICDX :
                  <ul class="list-icd">
                      <li *ngFor="let icd of generateArray(ct.a_icdx);let i = index">
                      {{ icd.penyakit }} ( {{ icd.icd }} )
                      </li>
                  </ul>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-1>
                  <strong>P</strong>
              </ion-col>
              <ion-col>
                  LABORATORIUM :
                  <br> 
                  {{ ct.p_lab_description }}
                  <br>
                  <br>
                  RADIOLOGI : 
                  <br> 
                  {{ ct.p_rad_description }}
                  <br>
                  <br>
                  FISIOTERAPI : 
                  <br> 
                  {{ ct.p_fisio_description }}
                  <br>
                  <br>
                  TINDAKAN : 
                  <br> 
                  {{ ct.p_tindakan_description }}
                  <ul class="list-icd">
                      <li *ngFor="let tindakan of generateArray(ct.a_icd9);let i = index">
                      {{ tindakan.deskripsi }}
                      </li>
                  </ul>
                  <br>
                  <br>
                  OBAT : 
                  <br> 
                  {{ ct.p_obat_description }}
                  <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.p_obat_stroke, 'po')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                  <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                  <img *ngIf="styluspo[i]" class="drawimage" src="{{ ct.imagepo }}" style="width:500px;height:200px;">
                  <br>
                  <br>
                  <br>
                  RESEP OBAT :
                  <ul class="list-icd">
                      <li *ngFor="let obat of generateArray(ct.p_obat_nama);let i = index">
                      {{ obat.nama }}
                      </li>
                  </ul>
                  <br>
                  <br>
                  ALERGI OBAT :
                  <ul class="list-icd">
                      <li *ngFor="let alergi of generateArray(ct.p_obat_alergi);let i = index">
                      {{ alergi.nama }}
                      </li>
                  </ul>
                  <br>
                  <Br>
                  <ul class="list-plan">
                      <li><button ion-button color="darkblue" block icon-left><ion-icon name="flask"></ion-icon><strong>LAB</strong></button></li>
                      <li><button ion-button color="darkblue" block icon-left><ion-icon name="pulse"></ion-icon><strong>RADIOLOGI</strong></button></li>
                      <!-- <li><button ion-button color="darkblue" block icon-left><ion-icon name="medkit"></ion-icon><strong>OBAT</strong></button></li> -->
                      <li><button ion-button color="darkblue" block icon-left><ion-icon name="body"></ion-icon><strong>FISIOTERAPI</strong></button></li>
                      <!-- <li><button ion-button color="darkblue" block icon-left><ion-icon name="nutrition"></ion-icon><strong>GIZI</strong></button></li> -->
                      <!-- <li><button ion-button color="darkblue" block icon-left><ion-icon name="medical"></ion-icon><strong>LAIN-LAIN</strong></button></li> -->
                  </ul>
              </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          {{ ct.nama_dok }}
        </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!datact">
      <ion-row row-center>
        <ion-col col-center>
            <ion-label class="nodata" center>
             Tidak ada data
            </ion-label>
        </ion-col>
      </ion-row>
  </div>
</ion-content>