$grey:#eceef3;
$blue:#54a4e7;
$darkblue:#4a95d6;
$darkgrey: #f3f3f7;
$lightgrey: #f1f1f1;
$darknavy: #354052;
$green: #32db64;

@font-face{
 font-family: 'TW Black';
 src: url('../assets/fonts/Titillium-Black.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Bold';
 src: url('../assets/fonts/Titillium-Bold.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Light';
 src: url('../assets/fonts/Titillium-Light.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Regular';
 src: url('../assets/fonts/Titillium-Regular.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Regular Italic';
 src: url('../assets/fonts/Titillium-RegularItalic.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Semibold';
 src: url('../assets/fonts/Titillium-Semibold.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Semibold Italic';
 src: url('../assets/fonts/Titillium-SemiboldItalic.otf') format('opentype'); 
}

@font-face{
 font-family: 'TW Thin';
 src: url('../assets/fonts/Titillium-Thin.otf') format('opentype'); 
}

.title-ion {
    font-family: 'TW Semibold';
}

.separator{
    border-bottom: 1px solid $darknavy;
}

.list-icd {
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            background: $blue;
            color: white;
            padding: 5px;
            margin: 5px;

            .icon-badge{
                float: right;
                margin-right: 5px;
            }
        }
    }

.list-plan {
        padding: 0;
        margin: 0;
        list-style: none;
    }
.nodata {
    text-align: center;
}

.datefltr {
    font-size: 1.1em;
    border:1px solid black;
    padding-left:12px;
}

.datetime-text {
    padding-left: 12px;
    font-size: 1.1em;
}

.drawimage {
    background-image: 
    -webkit-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
    -webkit-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-image: 
    -moz-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
    -moz-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-image: 
    -o-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    -o-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-image: 
    -ms-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    -ms-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    -webkit-background-size: 100% 2em;
    -moz-background-size: 100% 2em;

    background-image: 
    linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-size: 100% 2em;
    // background: #f5f5f5;
} 

.btn-spoiler {
    font-size: 0.9em;
}