.content-modal{
    .scroll-content::-webkit-scrollbar{
        width:10px;
        background-color:#c0c0c0;
    }
}

.resultsoap {
    border-left: 5px solid #488aff;
}

.separator{
    border-bottom: 1px solid #354052;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color:black;
    font-weight: bold;
}

.nodata {
    text-align: center;
}