<ion-toolbar>
        <ion-title class="title-ion">Konsultasi Dokter</ion-title>
        <ion-buttons end>
          <button ion-button color="primary" (click)="openModal('Result', nomedrec)">Notifikasi Jawaban</button>
          <button ion-button (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
      
      <ion-content class="content-modal" padding>
        <br>
        <br>
        <ion-grid>
                <ion-row class="rowlist">
                <ion-col><h4><ion-icon name="archive"></ion-icon> Kotak Masuk Konsultasi</h4>
                Pemberitahuan mengenai konsultasi yang masuk dari dokter sejawat untuk selanjutnya dijawab oleh anda
                </ion-col>
                <ion-col><button ion-button color="darkblue" (click)="openModal('References', nomedrec)" float-right>Konsultasi Dokter  Sejawat</button></ion-col>
            </ion-row>
        </ion-grid>
        <hr class="separator">
        <ion-row>
            <ion-col col-2>
              <strong>NO</strong>
            </ion-col>
            <ion-col>
              <strong>PESAN KONSULTASI</strong>
            </ion-col>
            <ion-col col-2>
              <strong >AKSI</strong>
            </ion-col>
        </ion-row>
        <hr class="separator">
        <div *ngIf="dataConsul">
            <ion-row *ngFor="let consul of listConsul; let i = index">
                <ion-col col-2>
                  {{ i+1 }}
                </ion-col>
                <ion-col>
                  {{ consul.message }}
                </ion-col>
                <ion-col col-2>
                    <div *ngIf="!statusjawaban">
                      <button ion-button color="darkblue" (click)="openModal('Reply', consul.no_medrec)" float-right>Jawab</button>
                    </div>
                    <div *ngIf="statusjawaban">
                      Anda Sudah Menjawab
                    </div>
                </ion-col>
            </ion-row>
          </div>
        <div *ngIf="!dataConsul">
                <ion-row row-center>
                  <ion-col col-center>
                      <ion-label class="nodata" center>
                       Tidak ada konsultasi yang masuk
                      </ion-label>
                  </ion-col>
                </ion-row>
        </div>
      </ion-content>