<ion-toolbar>
    <ion-title class="title-ion">Jawab Konsultasi</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-content class="content-modal" padding>
    <h2>Data Pasien</h2>
    <ion-grid  *ngFor="let personal of datapersonal" >
          <ion-row class="rowlist">
          <ion-col>
              Nama Pasien
          </ion-col>
          <ion-col>
              <strong>{{ personal.nama_pasien }}</strong>
          </ion-col>
          <ion-col>
              Jaminan
          </ion-col>
          <ion-col>
              <strong>{{ personal.jaminan }}</strong>
          </ion-col>
          </ion-row>
          <ion-row class="rowlist">
          <ion-col>
              Nama Dokter
          </ion-col>
          <ion-col>
              <strong>{{ doctorname }}</strong>
          </ion-col>
          <ion-col>
              Tanggal Lahir
          </ion-col>
          <ion-col>
              <strong>{{ mapToMoment(personal.tgl_lahir) }}</strong>
          </ion-col>
          </ion-row>
          <ion-row class="rowlist">
          <ion-col>
              Nomer RM
          </ion-col>
          <ion-col>
              <strong>{{ personal.no_medrec }}</strong>
          </ion-col>
          <ion-col>
              Umur
          </ion-col>
          <ion-col>
              <strong>{{ personal.umur }} tahun</strong>
          </ion-col>
          </ion-row>
          <ion-row class="rowlist">
          <ion-col>
              Kelas
          </ion-col>
          <ion-col>
              <strong>RJ</strong>
          </ion-col>
          <ion-col>
              Jenis Kelamin
          </ion-col>
          <ion-col>
              <strong>{{ personal.kelamin }}</strong>
          </ion-col>
          </ion-row>
    </ion-grid>
     <h6>PERMINTAAN</h6>
     <div *ngFor="let ct of datact">
          <ion-row>
              <ion-col>
                  <ion-row>
                   <ion-col col-2>
                       <strong>S</strong>
                   </ion-col>
                   <ion-col class="resultsoap">
                       {{ ct.s_description }}
                        <div *ngIf="statusCT">
                        <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.s_stroke, 's')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                        <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                        <img *ngIf="styluss[i]" class="drawimage" src="{{ ct.images }}" style="width:400px;height:200px;">
                        </div>
                   </ion-col>
               </ion-row>
              </ion-col>
              <ion-col>
                  <ion-row>
                   <ion-col col-2>
                       <strong>A</strong>
                   </ion-col>
                   <ion-col class="resultsoap">
                       {{ ct.a_description }}
                        <div *ngIf="statusCT">
                        <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.a_stroke, 'a')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                        <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                        <img *ngIf="stylusa[i]" class="drawimage" src="{{ ct.imagea }}" style="width:400px;height:200px;">
                        </div>
                       <br>
                       <div *ngIf="statusICDX">
                           <b>ICDX :</b>
                           <ul class="list-icd">
                               <li *ngFor="let icdx of listicdx">
                                   {{ icdx.penyakit }} ({{ icdx.icd }})
                               </li>
                           </ul>
                       </div>
                   </ion-col>
               </ion-row>
              </ion-col>
          </ion-row>
           <ion-row>
              <ion-col>
                  <ion-row>
                   <ion-col col-2>
                       <strong>O</strong>
                   </ion-col>
                   <ion-col class="resultsoap">
                       {{ ct.o_description }}
                        <div *ngIf="statusCT">
                        <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.o_stroke, 'o')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                        <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                        <img *ngIf="styluso[i]" class="drawimage" src="{{ ct.imageo }}" style="width:400px;height:200px;">
                        </div>
                   </ion-col>
               </ion-row>
              </ion-col>
              <ion-col>
                  <ion-row>
                   <ion-col col-2>
                       <strong>P</strong>
                   </ion-col>
                   <ion-col class="resultsoap">
                       {{ ct.p_obat_description }}
                        <div *ngIf="statusCT">
                        <button color="darkblue" class="btn-spoiler" (click)="drawcanvas(i, ct.p_obat_stroke, 'po')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                        <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                        <img *ngIf="styluspo[i]" class="drawimage" src="{{ ct.imagepo }}" style="width:400px;height:200px;">
                        </div>
                       <br>
                       <div *ngIf="statusObat">
                           <b>Resep Obat :</b>
                           <ul class="list-icd">
                               <li *ngFor="let obat of listobat">
                                   {{ obat.nama }}
                               </li>
                           </ul>
                       </div>
                   </ion-col>
               </ion-row>
              </ion-col>
          </ion-row>
      </div>
     <ion-row>
         <ion-col col-4><strong>Alasan Permintaan :</strong></ion-col>
         <ion-col>
             {{ reasonConsul }}
         </ion-col>
     </ion-row>
    <ion-row>
         <ion-col col-4><strong>Dokter yang dituju :</strong></ion-col>
         <ion-col>
             {{ dokter_tujuan }}
         </ion-col>
     </ion-row>
      <h6>JAWABAN</h6>
      <div *ngFor="let ct of datact_jawaban">
              <ion-row>
                  <ion-col>
                      <ion-row>
                       <ion-col col-2>
                           <strong>S</strong>
                       </ion-col>
                       <ion-col class="resultsoap">
                           {{ ct.s_description }}
                            <div *ngIf="statusCT">
                            <button color="darkblue" class="btn-spoiler" (click)="drawcanvasjawaban(i, ct.s_stroke, 's')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                            <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                            <img *ngIf="styluss[i]" class="drawimage" src="{{ ct.images }}" style="width:400px;height:200px;">
                            </div>
                       </ion-col>
                   </ion-row>
                  </ion-col>
                  <ion-col>
                      <ion-row>
                       <ion-col col-2>
                           <strong>A</strong>
                       </ion-col>
                       <ion-col class="resultsoap">
                           {{ ct.a_description }}
                            <div *ngIf="statusCT">
                            <button color="darkblue" class="btn-spoiler" (click)="drawcanvasjawaban(i, ct.a_stroke, 'a')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                            <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                            <img *ngIf="stylusa[i]" class="drawimage" src="{{ ct.imagea }}" style="width:400px;height:200px;">
                            </div>
                           <br>
                           <div *ngIf="statusICDX_jawaban">
                               <b>ICDX :</b>
                               <ul class="list-icd">
                                   <li *ngFor="let icdx of listicdx_jawaban">
                                       {{ icdx.penyakit }} ({{ icdx.icd }})
                                   </li>
                               </ul>
                           </div>
                       </ion-col>
                   </ion-row>
                  </ion-col>
              </ion-row>
               <ion-row>
                  <ion-col>
                      <ion-row>
                       <ion-col col-2>
                           <strong>O</strong>
                       </ion-col>
                       <ion-col class="resultsoap">
                           {{ ct.o_description }}
                            <div *ngIf="statusCT">
                            <button color="darkblue" class="btn-spoiler" (click)="drawcanvasjawaban(i, ct.o_stroke, 'o')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                            <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                            <img *ngIf="styluso[i]" class="drawimage" src="{{ ct.imageo }}" style="width:400px;height:200px;">
                            </div>
                       </ion-col>
                   </ion-row>
                  </ion-col>
                  <ion-col>
                      <ion-row>
                       <ion-col col-2>
                           <strong>P</strong>
                       </ion-col>
                       <ion-col class="resultsoap">
                           {{ ct.p_obat_description }}
                            <div *ngIf="statusCT">
                            <button color="darkblue" class="btn-spoiler" (click)="drawcanvasjawaban(i, ct.p_obat_stroke, 'po')" ion-button block clear><ion-icon name="eye"></ion-icon>  Tampilkan Hasil Stylus</button>
                            <canvas id="{{i}}" [height]="height" [width]="width" style="display: none"></canvas>
                            <img *ngIf="styluspo[i]" class="drawimage" src="{{ ct.imagepo }}" style="width:400px;height:200px;">
                            </div>
                           <br>
                           <div *ngIf="statusObat_jawaban">
                               <b>Resep Obat :</b>
                               <ul class="list-icd">
                                   <li *ngFor="let obat of listobat_jawaban">
                                       {{ obat.nama }}
                                   </li>
                               </ul>
                           </div>
                       </ion-col>
                   </ion-row>
                  </ion-col>
              </ion-row>
          </div>
          <form [formGroup]="formConsultation">
            <hr class="separator">
            <ion-list inset>
                    <ion-item>
                        <ion-label>Jawaban : </ion-label>
                        <ion-textarea formControlName="jawaban" placeholder="Ketik Jawaban anda ..." rows="4"></ion-textarea>
                    </ion-item>
            </ion-list>
            <button ion-button color="primary" (click)="submitJawaban(formConsultation.value)" block><strong>SUBMIT JAWABAN</strong></button>
          </form>
  </ion-content>