<ion-grid>
  <ion-row>
    <ion-col col-6>

          <button ion-button icon-only color="danger" (click)="clear()">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button color="darkblue" icon-left>
              <ion-icon name="brush"></ion-icon>
              Penghapus
          </button>
          <button ion-button icon-only color="blue"  (click)="undo()" [disabled]="!change.canUndo">
            <ion-icon name="undo"></ion-icon>
          </button>
          <button ion-button icon-only color="blue"  (click)="redo()" [disabled]="!change.canRedo">
            <ion-icon name="redo"></ion-icon>
          </button>
          <button ion-button color="blue"  (click)="save()"> 
            SIMPAN STYLUS
          </button>

    </ion-col>
    <ion-col col-6 class="colsimpan">

      
          <h2 color="secondary" *ngIf="savedDraw" [@enterAnimation]="true"><ion-icon color="secondary" name="checkmark-circle"></ion-icon> Stylus Tersimpan</h2>

    </ion-col>
  </ion-row>
</ion-grid>
    <sirus-stylus *ngIf="status == 'pria'" #inkPaper id="stylusOP" [pen]="pen" [height]="height" width="width" [timeout]="timeout" language="id_ID" (onResult)="writeDiagnosis($event)" (onInkChange)="inkChange($event)">
    </sirus-stylus>
    <sirus-stylus *ngIf="status == 'wanita'" #inkPaper id="stylusOW" [pen]="pen" [height]="height" width="width" [timeout]="timeout" language="id_ID" (onResult)="writeDiagnosis($event)" (onInkChange)="inkChange($event)">
    </sirus-stylus>
    <ion-card-content>
      
      <canvas id="drawcanvas" [height]="height" [width]="width" style="display: none"></canvas>

    </ion-card-content>
