#stylusOP {
    div {
        border-top: 1px solid $darkgrey !important;
        border-left: 1px solid $darkgrey !important;
        border-right: 1px solid $darkgrey !important;
        border-bottom: 1px solid $darkgrey !important;
        border-radius: 0px !important;
        background: url('../assets/img/op.jpg') no-repeat;
        background-size: 570px 500px;
    }
}

#stylusOW {
    div {
        border-top: 1px solid $darkgrey !important;
        border-left: 1px solid $darkgrey !important;
        border-right: 1px solid $darkgrey !important;
        border-bottom: 1px solid $darkgrey !important;
        border-radius: 0px !important;
        background: url('../assets/img/ow.jpg') no-repeat;
        background-size: 570px 500px;
    }
}

.colsimpan {
    text-align: right;
    padding-top: 20px;
    transition:all .5s ease-out;
}

.no-displayed {
    pointer-events: none;
}

.displayed {
    pointer-events: auto;
}