<ion-toolbar>
    <ion-title class="title-ion">Daftar Antrian</ion-title>
    <ion-buttons end>
      <button ion-button color="darkblue" (click)="refreshData()">REFRESH</button>
      <button ion-button color="danger" (click)="logoutUser()">LOGOUT</button>
    </ion-buttons>
</ion-toolbar>
  
<ion-content class="content-modal" padding>
    <h2>Data Pasien</h2>
    <ion-item-sliding *ngFor="let datapatient of listQueue">
        <button class="{{ datapatient.flag == '2' ? 'selected-list' : 'no-selected-list' }}" ion-item (click)="goToHome(datapatient)" 
        [disabled]="statusDisabled(datapatient)">
          <ion-grid>
            <ion-row class="rowlist">
              <ion-col col-1 text-center> {{ datapatient.no_antrian }} </ion-col>
              <ion-col col-1>
                <div class=" {{datapatient.status_pasien == 'ada' ? 'status-pasien-available' : datapatient.status_pasien == 'pending' ? 'status-pasien-pending' : datapatient.status_pasien == 'lab' ? 'status-pasien-lab' : datapatient.status_pasien == 'radiologi' ? 'status-pasien-rad' : 'status-pasien-delete' }}"></div>
                <img class="avatar-pasien" src="assets/img/{{ datapatient.kelamin == 'L' ? 'male.png' : 'female.png' }}">
              </ion-col>
              <ion-col col-6>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      {{ datapatient.nama_pasien }}
                      <span class="text-status">
                        <i>{{ (datapatient.status_pasien) }}</i>
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      No RM : {{ datapatient.no_medrec }} Pengkajian :
                        <span class="text-status">
                          <i class="{{ datapatient.kaji == 'Belum Dikaji' ? 'status-belum' : 'status-sudah' }}">
                            {{ datapatient.kaji }}</i>
                        </span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
        <ion-item-options>
          <button>
            <ion-icon name="trash"></ion-icon> Stop
        </button>
        </ion-item-options>
      </ion-item-sliding>
</ion-content>