$grey: #e8e8f5;
$softgrey: #eceef3;
$softdarkgrey: #dee1e9;
$dark-red: #9b0004;
$redlight:#ff6f59;
$red: #d9534f;
$yellowlight: #f7e14f;
$greenlight: #00ff80;
$dark-blue:  #314961;
$dark-blue-light:  #536679;
$darkgrey: #666666;
$lightblue: #76a6ef;
$purple : #9C27B0;
$greysoft: #f5f5f7;
$greydark: #d3d3e6;

/* STATUS PASIEN */

.status-pasien-available {
    width: 20px;
    height: 20px;
    background: $greenlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 55px;
    border:3px solid white;
}


.status-pasien-pending {
    width: 20px;
    height: 20px;
    background: $yellowlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 55px;
    border:3px solid white;
}

.status-pasien-lab {
    width: 20px;
    height: 20px;
    background: $lightblue;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 55px;
    border:3px solid white;
}

.status-pasien-rad {
    width: 20px;
    height: 20px;
    background: $purple;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 55px;
    border:3px solid white;
}

.status-pasien-delete {
    width: 20px;
    height: 20px;
    background: $redlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 55px;
    border:3px solid white;
}

.text-status {
    font-size: 0.9em;
    color: $darkgrey;
}

.selected-list {
    width:100%;
    text-align: left;
}

.no-selected-list {
    width:100%;
    text-align: left;
    background: white;
}