    <ion-grid>
      <ion-row>
        <ion-col col-6 class="btnstylus-mode">
            <button ion-button icon-only color="danger" (click)="clear()">
                <ion-icon name="trash"></ion-icon>
              </button>
              <button ion-button icon-only color="blue"  (click)="undo()" [disabled]="!change.canUndo">
                <ion-icon name="undo"></ion-icon>
              </button>
              <button ion-button icon-only color="blue"  (click)="redo()" [disabled]="!change.canRedo">
                <ion-icon name="redo"></ion-icon>
              </button>
              <button ion-button color="blue"  (click)="save()"> 
                SIMPAN STYLUS
              </button>
        </ion-col>
        <ion-col col-6 class="colsimpan">

          
              <h2 color="secondary" *ngIf="savedDraw" [@enterAnimation]="true"><ion-icon color="secondary" name="checkmark-circle"></ion-icon> Stylus Tersimpan</h2>

        </ion-col>
      </ion-row>
    </ion-grid>
  
    <sirus-stylus #inkPaper [pen]="pen" [height]="height" width="100%" [timeout]="timeout" language="id_ID" (onResult)="writeDiagnosis($event)" (onInkChange)="inkChange($event)" class="{{ stylussirus == true ? 'no-displayed' : 'displayed' }}">
    </sirus-stylus>
    <ion-card-content>
      
      <canvas id="drawcanvas" [height]="height" [width]="width" style="display: none"></canvas>

    </ion-card-content>
