.colsimpan {
    text-align: right;
    padding-top: 20px;
    transition:all .5s ease-out;
}

.no-displayed {
    pointer-events: none;
}

.displayed {
    pointer-events: auto;
}

.btnstylus-mode {
    text-align: left;
}